{% extends 'page_layout.html' %}
{% load staticfiles %}
{% block main %}
<div class="row mrg-top mrg-btm">
    <div class="span8">
        <div class="box">
            <form method="post" action=".">
                {% csrf_token %}
                    <ul class="form">
                        {{ form.as_ul }}
                        <li><input class="btn btn-primary" type="submit" value="Signup" /></li>
                    </ul>
            </form>
    {% if ENABLE_SOCIAL_LOGIN %}
            <a href="{% url socialauth_begin 'twitter' %}"><img src="{% static 'img/login_tw.png' %}" border=0></a>&nbsp;&nbsp;
            <a href="{% url socialauth_begin 'facebook' %}"><img src="{% static 'img/login_fb.png' %}" border=0></a>&nbsp;&nbsp;
            <a href="{% url socialauth_begin 'google-oauth2' %}"><img src="{% static 'img/login_goog.png' %}" border=0></a>
    {% endif %} 
        </div>
    </div>
    <div class="span4">
        <div class="box">
            {% include "mapstory/_donate_side.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    $(function() {
        $("li input[type=submit]").parent().prepend('<li><label for="tos">I agree to the <a href="http://wiki.mapstory.org/index.php?title=Terms_of_Service" target="_blank">Terms of Service</a></label><input id="tos" name="tos" type="checkbox"/>')
    })
</script>
{% endblock %}
