{% extends "page_layout.html" %}

{% block announcements %}{% endblock %}

{% block main %}
<div class="row">
    <div class="span12">
        <div class="box mrg-top mrg-btm">
            <div style="float:right">
                <div>Created : {{ announcement.creation_date }}</div>
                <div>Active : {{ announcement.publish_start }}</div>
                <div>Expires : {{ announcement.publish_end|default:'' }}</div>
            </div>
            <h2>{{ announcement.title }}</h2>
            <p>{{ announcement.content }}</p>
        </div>
    </div>
</div>
{% endblock %}