{% extends "page_layout.html" %}
{% load i18n %}
{% load mapstory_tags %}
{% load staticfiles %}

{% block head_title %}Search{% endblock %}
{% block body_class %}search{% endblock %}


{% block extra_script %}
{% comment %}Not using ext_header include - css causes problems at the moment{% endcomment %}
<script type="text/javascript">
    {% autoescape off %} 
    var viewer_config = {{ viewer_config }};
    var init_search = {{ init_search }};
    var static_url = "{{ STATIC_URL }}";
    var search_url = "{% url new_search_api %}";
    {% if user.is_authenticated %}
    var favorites_links_url = "{% url favoriteslinks %}";
    {% else %}
    var favorites_links_url = null;
    {% endif %}
    
    {% endautoescape %}
</script>
{% include "geonode/geo_header.html" %}
{% include "geonode/app_header.html" %}
<script type="text/javascript" src="{% static "script/search.js" %}"></script>
<script type="text/javascript" src="{% static "script/favorites.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/search.css" media="screen" />
{% endblock %}

{% block main %}
<div class="row">
    <div class="span12">
        <h2 style="margin-top: 10px">{% trans "Search MapStory" %}</h2>
    </div>
</div>

<div class="row">
    <div class="span3">
        <div id="favorites-container">
            
            <form id="searchForm">
                <input id="searchField" name="search">
            </form>
            {% if user.is_authenticated %}
            <h5 style="color:#F46817">Favorites</h5>
            <div id="favorites">
                {% favorites %}
            </div>
            {% endif %}
        </div>
            
        <div class="box">
        <h3>{% trans "Narrow By" %}</h3>

        <div id="refineSummary" title="Click to remove a filter">
            <h5 style="display:none">Current Filters</h5>
        </div>
            
        <div class="refineSection expand">
            <h5>Type</h5>
            <ul id="bytype" class="searchLinks refineControls">
                <li><a href="#map">MapStories</a></li>
                <li><a href="#layer">StoryLayers</a>
                    <!--
                    <ul style="margin-left:.5em">
                        <li><a href="#dataStore">Vector</a></li>
                        <li><a href="#coverageStore">Raster</a></li>
                    </ul>
                    -->
                </li>
                <!-- <li><a href="#contact">Users</a><span>({{ counts.users }})</span></li> -->
            </ul>
        </div>
            
        <div class="refineSection expand">
            <h5>Section</h5>
            <ul id="bysection" class="searchLinks refineControls">
                {% for s in sections %}
                <li><a href="#{{ s.pk }}">{{ s.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
            
        <div class="refineSection collapsed">
            <h5>Keywords</h5>
            <ul id="bykeyword" class="searchLinks refineControls">
                {% for kw,cnt in keywords.items %}
                <li><a href="#{{ kw }}">{{ kw }}</a></li>
                {% endfor %}
            </ul>
        </div>
        
        <button id="spatialSearch" class="btn">Map Bounding Box</button>
        <div class="modal" id="searchModal" style="display:none; max-height: none; width: 573px;">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">×</button>
                <h2>Select an Area of Interest</h2>
            </div>
            <div class="modal-body">
                <div id="searchMap"></div>
            </div>
        </div>
        
        <div class="refineSection">
            <h5>Temporal Extent</h5>
            <p>Format in yyyy-mm-dd. Omit days or months if desired. Press enter to search.</p>
            <label for="time_start">Events begin after</label>
            <input id="time_start" type="text" style="width:175px;">
            <label for="time_end">Events end before</label>
            <input id="time_end" type="text" style="width:175px;">
        </div>
        
        <div class="refineSection expand">
            <h5>Date Added</h5>
            <ul id="byadded" class="searchLinks refineControls">
                <li><a href="#today">Today</a>
                <li><a href="#week">This Week</a>
                <li><a href="#month">This Month</a>
            </ul>
        </div>
            
        </div>
    </div>
        
        
    <div class="span9">
        <div class="box">
            <form id="sortForm">
                <strong>sort by</strong>
                <select name="sortby">
                    <option disabled="true" value="relevance">Relevance</option>
                    <option value="newest" selected="true">Newest</option>
                    <option value="oldest">Oldest</option>
                    <option value="alphaaz">Alphabetical (A-Z)</option>
                    <option value="alphaza">Alphabetical (Z-A)</option>
                    <option disabled="true" value="popularity">Popularity</option>
                </select>
            </form>
            <div id="search_results"><ul></ul><div class="clearfix"></div></div>
            <div style="text-align:center;visibility:hidden;"><div id="displaying"></div><p id="displayNote">Scroll down for more results</p></div>
            <div id="loading">Loading More Results</div>
            <img id="thumbHover"/>
        </div>
    </div>
</div>
{% endblock %}
