{% extends "page_layout.html" %}
{% load i18n %}
{% load mapstory_tags %}

{% block head_title %}Search{% endblock %}
{% block body_class %}search{% endblock %}


{% block extra_script %}
{% comment %}Not using ext_header include - css causes problems at the moment{% endcomment %}
<script type="text/javascript">
    {% autoescape off %} 
    var viewer_config = {{ viewer_config }};
    var init_search = {{ init_search }};
    var static_url = "{{ STATIC_URL }}";
    var search_url = "{% url new_search_api %}";
    {% if user.is_authenticated %}
    var favorites_links_url = "{% url favoriteslinks %}";
    {% else %}
    var favorites_links_url = null;
    {% endif %}
    
    {% endautoescape %}
</script>
<script type="text/javascript" src="{{ STATIC_URL}}script/search.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}script/favorites.js"></script>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}theme/search.css" media="screen" />
{% endblock %}

{% block main %}
<div class="row">
    <div class="span12">
        <h2 style="margin-top: 10px">{% trans "Search MapStory" %}</h2>
    </div>
</div>

<div class="row">
    <div class="span3">
        <div id="favorites-container">
            
            <form id="searchForm">
                <input id="searchField" name="search">
            </form>
            {% if user.is_authenticated %}
            <h5 style="color:#F46817">Favorites</h5>
            <div id="favorites">
                {% favorites %}
            </div>
            {% endif %}
        </div>
            
        <div class="box">
        <h3>{% trans "Narrow By" %}</h3>

        <div id="refineSummary" title="Click to remove a filter">
            <h5 style="display:none">Current Filters</h5>
        </div>
            
        <div class="refineSection expand">
            <h5>Type</h5>
            <ul id="bytype" class="searchLinks refineControls">
                <li><a href="#map">MapStories</a></li>
                <li><a href="#layer">StoryLayers</a>
                    <!--
                    <ul style="margin-left:.5em">
                        <li><a href="#dataStore">Vector</a></li>
                        <li><a href="#coverageStore">Raster</a></li>
                    </ul>
                    -->
                </li>
                <!-- <li><a href="#contact">Users</a><span>({{ counts.users }})</span></li> -->
            </ul>
        </div>
            
        <div class="refineSection expand">
            <h5>Section</h5>
            <ul id="bysection" class="searchLinks refineControls">
                {% for s in sections %}
                <li><a href="#{{ s.pk }}">{{ s.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
            
        <div class="refineSection collapsed">
            <h5>Keywords</h5>
            <ul id="bykeyword" class="searchLinks refineControls">
                {% for kw,cnt in keywords.items %}
                <li><a href="#{{ kw }}">{{ kw }}</a></li>
                {% endfor %}
            </ul>
        </div>
            
        </div>
    </div>
        
        
    <div class="span9">
        <div class="box">
            <form id="sortForm">
                <strong>sort by</strong>
                <select name="sortby">
                    <option disabled="true" value="relevance">Relevance</option>
                    <option value="newest" selected="true">Newest</option>
                    <option value="oldest">Oldest</option>
                    <option value="alphaaz">Alphabetical (A-Z)</option>
                    <option value="alphaza">Alphabetical (Z-A)</option>
                    <option disabled="true" value="popularity">Popularity</option>
                </select>
            </form>
            <div id="search_results"><ul></ul><div class="clearfix"></div></div>
            <div style="text-align:center;visibility:hidden;"><div id="displaying"></div><p id="displayNote">Scroll down for more results</p></div>
            <div id="loading">Loading More Results</div>
            <img id="thumbHover"/>
        </div>
    </div>
</div>
{% endblock %}
