#thumbHover {
    position: absolute;
    display: none;
    z-index: 100;
}
#search_results {
    margin-bottom: 1em;
}
#search_results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#search_results li .itemAbstract {
    display: none;
}
#search_results .org {
    color: #454238;
}
#search_results .thumb {
    width: 219px;
    height: 110px;
    cursor: pointer;
    border: 1px solid none;
}
#search_results .thumb.owner {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 1px solid none;
}
#search_results .thumb selected {
    border: 1px solid #454238;
}
#search_results #bigtile {
    width: 689px;
    display: none;
    border-top: 1px solid #8E9184;
    border-bottom: 1px solid #8E9184;
    position: relative;
    padding: 10px 0;
}
.pointerthing {
    position: absolute;
    color: #8E9184;
    font-size: 21px;
    top: -18px;
}
.pointerthing.one {
    left: 15%;
}
.pointerthing.three {
    left: 80%;
}
#search_results #bigtile img {
    height: 173px;
    width: auto;
}
#bigtile .more {
    display: none;
}
#bigtile-close {
    color: #8E9184;
    float: right;
    font-size: 32px;
    font-weight: bold;
    padding-right: 0.5em;
    cursor: pointer;
}
.viewer-link {
    display: block;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
}
#search_results #bigtile .infoBox {
    float: right;
    width: 333px;
}
#search_results #bigtile .itemAbstract {
    display: block;
    height: 7em;
    overflow: auto;
}
#favorites-box input {
    width: 171px;
}
#favorites-container {
    background: #454238;
    padding: 10px;
}
#searchForm {
    margin: 0;
    padding: 0;
}
#searchForm input {
    margin: 0;
    padding: 0;
    background: url("/static/theme/img/icons/search.png") no-repeat scroll 194px center #FFFFFF;
}
#favorites {
    border: 2px solid #8E9184;
    background: white;
    padding: 5px;
    margin-top: 10px;
}
#favorites ul {
    padding: 0;
    margin: 0;
}
#favorites li {
    list-style: none;
}
#favorites li btn {
    margin-right: 5px;
}
.more {
    float: right;
    margin-right: 1em;
    cursor: pointer;
}
.searchLinks li {
    list-style: none;
}
.refineSection h5 {
    margin: 0;
}
.searchLinks ul {
    margin: 0;
}
.itemInfo {
    color: gray;
}
.itemButtons {
    float: right;
}
.itemButtons > div {
    float: left;
}
.removeFilter {
    cursor: pointer;
}
#refineSummary {
    margin-bottom: 1em;
}
#loading {
    text-align: center;
    line-height: 32px;
    height: 32px;
    /* ha-ha */
    text-decoration: blink;
    background: url('/static/geonode/externals/ext/resources/images/default/shared/blue-loading.gif') no-repeat 50% 0;
}
/* work around boilerplate setting of margin */
ul.x-menu-list {
    margin: 0;
}
/* geoexplorer.css breaks this */
.x-tip {
    white-space: normal !important;
}
#search_results li.tile {
    float: left;
    display: block;
    width: 219px;
    height: 173px;
    overflow: none;
    position: relative;
    margin: 5px;
}
#search_results li.noresults {
    width: 100%;
}
.center {
    text-align: center;
}
.removeFilter {
    vertical-align: baseline;
    cursor: pointer;
}
.cartAddButton {
    /* @todo */
    background: url('img/silk/add.png');
}
.cartRemoveButton {
    /* @todo */
    background: url('img/silk/delete.png');
}
.saveButton {
    /* @todo */
    background: url('img/geosilk/map_save.png');
}
.addToMapButton {
    /* @todo */
    background: url('img/silk/map_add.png');
}
.refineSection {
    margin-bottom: 1em;
}
.refineSection > * {
    margin-left: 16px;
}
.refineSection p {
    color: gray;
    margin: 0;
}
.refineSection h5 {
    padding-left: 16px;
    cursor: pointer;
}
.refineSection.collapsed h5 {
    background: url('/static/geonode/externals/ext/resources/images/default/grid/group-expand.gif') no-repeat 0 50%;
}
.refineSection.expand h5 {
    background: url('/static/geonode/externals/ext/resources/images/default/grid/group-collapse.gif') no-repeat 0 50%;
}
.refineSection label {
    color: #F46817;
    font-weight: bold;
    font-size: 10.5px;
}
.refineSection input {
    margin-bottom: 5px;
}
.pdf {        /* @todo */

    background-image: url(img/silk/page_white_acrobat.png)
}

.kml,
.kmz {        /* @todo */

    background-image: url(img/geosilk/kml.png)
}

.geotiff,
.tiff,
.png {        /* @todo */

    background-image: url(img/geosilk/page_white_raster.png)
}

.csv
.shp,
.zip {        /* @todo */

    background-image: url(img/geosilk/page_white_vector.png)
}