@import "geonode.css";

.clear {
  clear:both;
}

body {
  color:#4a4a4a;
}

#header .wrap {
    padding-left: 30px;
    width: 950px;
}

#logo {
    margin: 1em 0em 1em -15px;
}

#login-area {
    top: 20px;
    width: 15em;
}

#login-area a {
    display: block;
}

/* fix map viewer page */
html.x-viewport #header .wrap {
    width: 100%;
}
html.x-viewport #login-area a {
    display: inline;
}
html.x-viewport #login-area {
    width: 20em;
}

#login-link {
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  border-radius: .5em;
  color: black !important;
  background: white;
  font-weight: normal !important;
  padding: .1em .6em;
  font-family: sans-serif;
  display: inline-block !important;
  font-size:11px;
}

#donate {
  position: absolute;
  left: 0;
  font-size: larger;
  color: white;
  padding: .3em 1em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size:18px;
  line-height:18px;
}

a#donate:hover {
  background:#F46817;
  text-decoration:none;
}

#top-crossbar ul {
  line-height: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
#top-crossbar ul span {
  font-family: serif !important;
}
#top-crossbar * {
  color: white !important;
  font-size: medium;
  font-weight: bold;
}
#top-crossbar li {
  float: left;
  padding: .5em;
  cursor:pointer;
  margin-right:12px;
}

#quicksearch {
  float: right;
  margin-bottom: .5em;
  position:relative;
}

#quicksearch * {
  color: #9b9b9a !important;
  font-weight: normal;
}

#quicksearch input {
  padding:3px;
}

#quicksearch label {
    opacity: 1;
    position: absolute;
    top:5px;
    left:0;
    padding-left: .5em;
    font-size:12px;
}

#crossbar {
    min-height: 2.9em;
}
.langbar {
    display: none;
}

#carousel {
    height: 130px;
    overflow: hidden;
}

#carousel .tile {
    position: relative;
    border: 1px solid #999;
}

#carousel .tile .info {
    position: absolute;
    bottom: 0;
    text-shadow: 1px 1px 3px white;
    background: white;
    opacity: .5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    width: 100%;
    text-align: center;
    padding-bottom: .3em;
}

#carousel .wrap,
#main .wrap {
    padding: 0;
}

#main {
  border-bottom: 0;
}

#carousel .tile {
    display: inline-block;
}

.hvygraybg
{
    background: #6A6C5D;
}

.medgraybg
{
    background: #8e9184;
}

.lightgraybg
{
    background: #B9C2AD;
}

.darkgraybg,
#header,
#top-crossbar,
.olMapViewport,
#footer, #footer .onecol {
    background: #454238;
}

.orangebg,
#crossbar,
#sitenav,
#top-crossbar .selected,
#topPanel, /* from viewer app */
#donate,
#map-bbar .x-slider-thumb {
    background: #f47a20;
}

.palebg,
body,
#main,
#map-bbar .x-slider-inner {
    background: #F3F2F2;
}

.orange,
#main h2,
a {
    color: #F46817;
    text-decoration: none;
    font-weight: bold;
}

.note {
    padding: 1em;
    border: 2px dotted #F46817;
    background: #F3F2F2;
    color: #F46817 !important;
    font-weight: bold !important;
}

.fancyfont,
#sitenav,
#activities * {
    font-family: 'Marvel', sans-serif;
}

#sitenav {
    font-size: larger;
}

.onecol, .twocol, .threecol {
    background: white;
}

.onecol.full-width {
  width: 940px;
  margin-left: 0;
  margin-right: 0;
}

.twocol.first {
  margin-left:0;
  width: 590px;
}

.threecol.last {
  margin-right:0;
  width: 290px;
}

.box {
  padding: 10px 20px;
  background:#fff;
}

#main p,
hr {
    color: #4a4a4a;
}

#main hr {
    width: 100%;
    border: 0;
    height: 2px;
    display:block;
    border-top: 1px solid #999998;
}

h1, h2, h3, h4, h5, h6 {
    color: #111;
}

h1, h2, h3, h4 {
    font-family: 'Marvel', sans-serif;
}

h2 {
  font-size:22px !important;
  line-height: 28px;
  margin-bottom:10px;
}

h3 {
  font-size: 2em;
  color:#787878;
  margin-bottom: .3em;
}

h4 {
  font-size: 1.7em;
  color:#787878;
  margin-bottom:10px;
}

.mrg-btm {
  margin-bottom:20px;
}

.pd-btm {
  padding-bottom:15px;
}

#topPanel {
    font-size: 12px !important;
    font-weight: normal !important;
    font-family: sans-serif !important;
}

.text {
    color: #717274;
}

#header {
    border-bottom: 0;
}

#logo {
    float: left;
    width: 179px;
    height: 36px;
    background: url(img/logo.png) no-repeat;
    overflow: hidden;
    text-indent: -9999em;
}

#crossbar {
    border-bottom: 0;
    color: white;
}

#sitenav li a {
  font-size:16px;
}

#footer, #footer * {
    color: white;
    font-weight: normal;
    text-decoration: none;
    border: 0;
}

/** ext overrides */
#map-bbar .x-toolbar,
#paneltbar,
#embedded_map .x-toolbar,
#preview_map .x-toolbar,
#embedded_map,
#preview_map,
#embedded_map .x-panel,
#preview_map .x-panel,
#embedded_map .x-panel-body,
#preview_map .x-panel-body,
.x-viewport .x-panel,
.x-viewport .x-panel-body
{
    border-width: 0 !important;
    border-color: transparent !important;
}
#map-bbar .x-slider-end {
    background: none
}
#map-bbar .x-slider {
    border: 1px solid white !important;
    margin: 0 2px;
    height: 18px;
}
#map-bbar .x-slider-inner {
    margin: 2px 0;
    height: 14px;
}
#embedded_map .x-toolbar .x-btn,
#preview_map .x-toolbar .x-btn,
#map-bbar .x-toolbar .x-btn,
#paneltbar .x-btn,
#paneltbar button
{
    border: 1px solid #454238 !important;
    color: white;
}
.x-btn-over td
{
    background: none !important;
}
#map-bbar .x-slider-thumb {
    width: 4px;
    height: 16px;
    top: -1px;
}
#map-bbar,
#embedded_map .x-toolbar,
#preview_map .x-toolbar,
#map-bbar .x-toolbar,
#paneltbar,
#map-bbar .x-slider {
    background: #454238;
}

/*** bootstrap overwrite ***/
body {
  padding-top:0;
}

/*** elements ***/
img.left {
  float:left;
  margin:0 10px 10px 0;
}

a.button.orange {
  display:inline-block;
  background:#f47a20;
  padding: .5em 1em;
  color:#fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Marvel', sans-serif;
  font-size: 18px;
  line-height: 18px;
  margin:12px 0;
}

a.button.orange:hover {
  background:#F46817;
  text-decoration:none;
}

p.center {
  text-align:center;
}

/*** tabs ***/
#sections .tabs-left {
  overflow:hidden;
}

#sections .tabs-left .nav-tabs {
  border-right:0;
}

#sections .nav-tabs {
  float:left;
  width:168px;
}

#sections .nav-tabs > li > a {
  display:block;
  width:169px;
  height:32px;
  line-height:32px;
  text-indent:12px;
  font-family: 'Marvel', sans-serif;
  font-size: 1.6em;
  color:#787878;
  margin-bottom:10px;
  padding:0;
  border:0;
}

#sections .tabs-left .nav-tabs > li > a {
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

#sections .nav-tabs > .active > a, #sections .nav-tabs > .active > a:hover {
  color: #fff;
  cursor: default;
  background:url(img/tab_active_bg.png) no-repeat 0 0;
  border:0;
}

#sections .nav-tabs > li > a:hover {
  color:#F46817;
  background:none;
  border:0;
}

#sections .tab-content {
  overflow: hidden;
}

/** section tabs **/
section.box .nav-tabs {
  border-bottom: 4px solid #f47a20;
}

section.box .nav-tabs a {
  font-size:17px;
  color: #fff;
  border: 0;
  border-bottom:1px solid #f47a20;
  background:#f8d5b9;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  margin-right:5px;
}

section.box .nav-tabs > .active > a, section.box .nav-tabs > .active > a:hover {
  color: #fff;
  border:0;
  border-bottom: 1px solid #f47a20;
  background:#f47a20;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
}

/*** breadcrumbs ***/
.breadcrumb {
  background:none;
  border:0;
  padding-left:0;
  margin-bottom:6px;
}

.breadcrumb a {
  color:#646364;
  font-size:10px;
  font-weight:normal;
  text-decoration:underline;
}

.breadcrumb li.active a {
  text-decoration:none;
  color:#646364;
}

.breadcrumb li .divider {
  font-size:9px;
  text-shadow:none;
}

a.back {
  display:block;
  background:url(img/arrow_left.png) no-repeat left center;
  padding-left:12px;
  margin-top:10px;
  float:right;
}

/** sidebar **/
.social-icons {
  width:293px;
  height:44px;
  background: url(img/social_icons.png) no-repeat 0 0;
  margin-bottom:12px;
}

.social-icons a {
  display:block;
  width:45px;
  height:44px;
  float:left;
  margin-right:13px;
  text-indent:-9999px;
}

.social-icons a.last {
  margin-right:0;
}

.mini-slider {
  font-size:18px;
  color:#787878;
  margin-bottom:15px;
}

.mini-slider span {
  padding:0 10px;
}

/** ads box **/
.ads-box .ad {
  float:left;
  width:300px;
  margin:0 13px;
}

.ads-box .ad p {
  text-align:right;
  font-size:10px;
  color:#ccc;
  margin-top:0;
}

/*** homepage ***/
#activities {
  margin-bottom: 1em;
  padding-left: 20px;
}
#activities ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#activities ul li {
  float: left;
  width: 320px;
  padding: 1em 0;
  margin: 0;
}
#activities .padtop {
  padding-top: 6px;
}
#activities div {
  font-size:24px;
  color: #d24d27;
  padding-bottom: .7em;
  height: 42px;
  line-height: 42px;
}
#activities div img {
  vertical-align: bottom;
  padding-right: .5em;
}
#activities .search {
  background: #9E2F1E;
}
#activities .action {
  background: #5B2D14;
  margin-left: 1em;
}
#activities a {
  color: white;
  font-size: 16px;
  padding: 8px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#alerts span {
  font-size:15px;
}
#alerts span.content {
  font-size:12px;
  font-family:Helvetica,Arial,sans-serif;
}
.get-alerts {
  float:right;
  padding: 0.8em 3em 0.8em 1em;
  font-size:larger;
}
#carousel {
  position: relative;
}
#carousel .tile {
  position: absolute;
}
#carousel .arrow {
  cursor: pointer;
  top: 30%;
  position: absolute;
  width:18px;
  height:34px;
  text-indent:-9999px;
  background: url(img/arrows_gr.png) 0 0;
}
#carousel .arrow.arrow-right {
  background-position: -28px 0;
}
#carousel .arrow.arrow-left:hover {
  background-position: 0 -40px;
}
#carousel .arrow.arrow-right:hover {
  background-position: -28px -40px;
}
.storyteller img {
  float:left;
  margin-right: 1em;
}
.storyteller {
  padding: 0 1em 15px 1em;
  border-bottom: 1px solid #999;
  overflow:hidden;
  margin-bottom:15px;
}

.storyteller.last {
  border-bottom:0;
  margin-bottom:0;
}

.storyteller h4 {
  color: #F46817;
  margin-top: .5em;
  margin-bottom: 0;
}

#sections article {
  overflow:hidden;
  margin-bottom:20px;
}

#sections article .article-content {
  float:left;
  width:280px;
}

article h3 {
  font-size:1.7em;
}

#featuredvideo .description {
  float:left;
  width:360px;
  margin-top:-3px;
}

#featuredvideo .description img {
  padding:0 6px;
}

#sections .summary {
  margin-bottom:6px;
}

#sections footer {
  font-weight:bold;
  overflow:hidden;
  line-height:1.2em;
  color:#4d4d4d;
}

#sections footer span.views {
  display:block;
  float:left;
  border-right:1px solid #4d4d4d;
  padding-right:5px;
  margin-right:5px;
}

/*** story detail ***/
.story-detail {
  margin-bottom:20px;
}

.video-actions {
  overflow:hidden;
  border-bottom:1px solid #d8d9d9;
  padding-bottom:8px;
  margin-bottom:8px;
}

.video-actions .actions-links {
  float:left;
  width:500px;
  padding-top:20px;
}

.video-actions .actions-links a {
  display:inline-block;
  padding:0 22px 0 23px;
  font-size:15px;
}

.video-actions a.icn.info { background:url(img/icons/info.png) no-repeat left center; }
.video-actions a.icn.layers { background:url(img/icons/layers.png) no-repeat left center; }
.video-actions a.icn.favorites { background:url(img/icons/favorites.png) no-repeat left center; }
.video-actions a.icn.share { background:url(img/icons/share.png) no-repeat left center; }
.video-actions a.icn.flag { background:url(img/icons/flag.png) no-repeat left center; }
.video-actions a.icn.add { background:url(img/icons/add.png) no-repeat left center; }

.video-actions .metrics {
  width:95px;
  float:right;
  text-align:right;
}

.video-actions .metrics .views {
  display:block;
  font-size:9px;
  font-weight:bold;
}

.video-actions .metrics .views i {
  font-size:17px;
  font-style:normal;
}

article.abstract {
  border-bottom:1px solid #d8d9d9;
  padding-bottom:12px;
  margin-bottom:12px;
}

article.abstract .read-more {
  display:inline-block;
  background:url(img/arrow_down.png) no-repeat right center;
  padding:0 18px 0 5px;
}

cite {
  font-weight:bold;
}

.comments {
  margin-bottom:20px;
}

.comments header {
  position:relative;
}

.pages {
  font-weight:bold;
  font-size:9px;
  text-align:right;
}

.comments header .pages {
  position:absolute;
  top:0;
  right:0;
}

.pages span {
  padding-right:7px;
}

.pages .pager {
  display:inline;
  border-left:1px solid #ccc;
  padding-left:3px;
}

.pager a {
  padding:0;
  border: 0;
  display:inline-block;
  width:15px;
  height:15px;
  text-indent:-9999px;
}

.pages a.prev { background:url(img/arrows_gr_sm.png) no-repeat 0 0; }
.pages a.next { background:url(img/arrows_gr_sm.png) no-repeat -11px 0; }
.pages a.prev:hover { background:url(img/arrows_gr_sm.png) no-repeat 0 -15px; }
.pages a.next:hover { background:url(img/arrows_gr_sm.png) no-repeat -11px -15px; }

.comments article p {
  margin-bottom:6px;
}

.comments article footer {
  font-weight:bold;
  font-size:12px;
  margin-bottom:15px;
}

section.box a.read-more {
  background:url(img/arrow_right.png) no-repeat right center;
  padding-right:10px;
}

section.box .article-list {
  overflow:hidden;
}

section.box .article-list article {
  overflow:hidden;
  margin-bottom:10px;
}

section.box .article-list article h6 {
  text-transform:none;
  line-height:1.2em;
  font-weight:normal;
  font-size:12px;
}

section.box .article-list article img.thumb {
  float:left;
  margin:0 10px 10px 0;
}

section.box .article-list article .details {
  float:left;
  width:172px;
}

section.box .article-list article a[rel="name"],
section.box .article-list article time {
  display:block;
  font-size:11px;
}

section.box .article-list article footer {
  font-weight:bold;
  font-size:10px;
}

section.box .article-list article footer .views {
  border-right:1px solid #777;
  padding-right:8px;
}
