@import "geonode.css";

#header .wrap {
    padding-left: 30px;
}

#logo {
    margin: 1em 0em;
}

#login-area {
    top: 0;
    width: 15em;
}

#login-link {
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    color: black !important;
    background: white;
    font-weight: normal !important;
    padding: .2em .5em;
    font-family: sans-serif;
    position: relative;
    top: 1em;
}

#donate {
    position: absolute;
    left: 0;
    font-size: larger;
    color: white;
    padding: .5em;
    -moz-border-radius: 0 0 .5em .5em;
    -webkit-border-radius: 0 0 .5em .5em;
    border-radius: 0 0 .5em .5em;
}

#quicksearch {
    float: right;
    margin-bottom: .5em;
}

#quicksearch label {
    opacity: 1;
    position: absolute;
    padding-left: .5em;
}

#top-crossbar ul {
    line-height: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}
#top-crossbar ul li {
    float: left;
    margin: 0;
    padding: 0;    
    font-size: larger;
    color: white;
}
#top-crossbar ul li a {
    padding: .5em;
    font-weight: bold;
}
.langbar {
    display: none;
}

#carousel {
    height: 130px;
    overflow: hidden;
}

#carousel .tile {
    position: relative;
    border: 1px solid #999;
    margin-left: 352px;
}

#carousel .tile .info {
    position: absolute;
    bottom: 0;
    text-shadow: 1px 1px 3px white;
    background: white;
    opacity: .5;
    width: 100%;
    text-align: center;
}

#carousel .wrap,
#main .wrap {
    padding: 0;
}

#carousel .tile {
    display: inline-block;
}

.hvygrabg
{
    background: #6A6C5D;
}

.medgraybg
{
    background: #8B8F7F;
}

.lightgraybg
{
    background: #B9C2AD;
}

.darkgraybg,
#header,
#top-crossbar,
#footer, #footer .onecol {
    background: #454238;
}

.orangebg,
#crossbar,
#sitenav,
#top-crossbar .selected,
#topPanel, /* from viewer app */
#donate,
#map-bbar .x-slider-thumb {
    background: #F46817;
}

.palebg,
body,
#main,
#map-bbar .x-slider-inner {
    background: #F3F2F2;
}

.orange,
#main h2,
a {
    color: #F46817;
    text-decoration: none;
    font-weight: bold;
}

.note {
    padding: 1em;
    border: 2px dotted #F46817;
    background: #F3F2F2;
    color: #F46817 !important;
    font-weight: bold !important;
}

.fancyfont,
#sitenav,
#activities * {
    font-family: 'Homenaje', sans-serif;
}

#sitenav {
    font-size: larger;
}

.onecol, .twocol, .threecol {
    background: white;
}

#main p,
hr {
    color: #999999;
}

#main hr {
    width: 80%;
    border: 0;
    height: 2px;
}

h1, h2, h3, h4, h5, h6 {
    color: #111;
}

h1, h2, h3, h4 {
    font-family: 'Homenaje', sans-serif;
}

#topPanel {
    font-size: 12px !important;
    font-weight: normal !important;
    font-family: sans-serif !important;
}

.text {
    color: #717274;
}

#header {
    border-bottom: 0;
}

#logo {
    float: left;
    width: 262px;
    height: 50px;
    background: url(img/mapstory.png) no-repeat;
    overflow: hidden;
    text-indent: -9999em;
}

#crossbar {
    border-bottom: 0;
    color: white;
}

#footer, #footer * {
    color: white;
    font-weight: normal;
    text-decoration: none;
    border: 0;
}

/** ext overrides */
.x-panel, .x-toolbar, .x-panel-body {
    border-width: 0 !important;
    border-color: transparent !important;
}
#map-bbar .x-slider-end {
    background: none
}
#map-bbar .x-slider {
    border: 1px solid white !important;
    margin: 0 2px;
    height: 18px;
}
#map-bbar .x-slider-inner {
    margin: 2px 0;
    height: 14px;
}
.x-toolbar .x-btn {
    border: 1px solid #454238 !important;
    color: white;
}
#map-bbar .x-btn-over {
    border-color: white !important;
}
#map-bbar .x-btn-over td {
    background: none !important;
}
#map-bbar .x-slider-thumb {
    width: 4px;
    height: 16px;
    top: -1px;
}
#map-bbar,
.x-toolbar,
#map-bbar .x-slider {
    background: #454238;
}