{% extends "no_bottom_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Upload Layer" %} - {{ block.super }} {% endblock %}

{% block main %}
<div class="twocol">
{% if present_choices %}
<h2>Specify Geometry Columns for "{{ layer_name }}"</h2>
<p>Please indicate which attributes contain the latitude and longitude
coordinates in the CSV data.</p>
{% if guessed_lat_or_lng %}
<hr>
<p style="margin-bottom: 1em">With this data, MapStory was able to guess which attributes contain the
latitude and longitude coordinates, but please confirm that the correct
attributes are selected below.</p>
{% endif %}
<form method="POST" id="csvForm">
  {% csrf_token %}
  <div>
    <label for="lat" style="display: inline-block; width: 75px">Latitude</label>
    <select id="lat" name="lat">
      <option value="None">Select an attribute</option>
      {% for option in point_candidates %}
      <option value="{{ option }}"
      {% if lat_candidate and lat_candidate == option %}
      selected="selected"
      {% endif %}
      >{{ option }}</option>
      {% endfor %}
    </select>
  </div>
  <div style="margin: 10px 0">
    <label for="lat" style="display: inline-block; width: 75px">Longitude</label>
    <select id="lng" name="lng">
      <option value="None">Select an attribute</option>
      {% for option in point_candidates %}
      <option value="{{ option }}"
      {% if lng_candidate and lng_candidate == option %}
      selected="selected"
      {% endif %}
      >{{ option }}</option>
      {% endfor %}
    </select>
  </div>
  <input type="submit" value="Next" class="btn btn-primary"/>
</form>
<script type="text/javascript" src="{{ STATIC_URL }}script/upload_common.js"></script>
<script type="text/javascript">
{% autoescape off %}
{% if async_upload %}
enableUploadProgress('csvForm');
{% endif %}
{% endautoescape %}
</script>
{% else %}
<p>We did not detect columns that could be used for the latitude and longitude.
Please verify that you have two columns in your csv file that can be used for
the latitude and longitude.</p>
{% endif %}
</div>
{% endblock %}
