{% extends "no_bottom_layout.html" %}
{% load mapstory_tags %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Upload - Time" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "theme/manual.css" %}"/>
<style>
    /* bootstrap workarounds */
    #timeForm label, #timeForm input, #timeForm select {
        display: inline;
    }
    #timeForm input, #timeForm select {
        width: auto;
    }
    #timeForm .hide {
        display: none;
    }
    /* end bootstrap workarounds */
    .formSection {
        margin-bottom: 1em;
        border-bottom: 1px solid white;
    }
    .left input {
        line-height: 2em;
    }
    #timeForm input, #timeForm select {
        font-size: small;
    }
    #timeForm label {
        line-height: 2em;
    }
    #format_input input {
        width:16em;
        height:26px;
        vertical-align: top;
    }
    label.align {
        width:7em;
        float:left;
    }
    #format_input label, #end_format_input label {
        margin-left: 15px;
    }
    #timehelp p {
        color: black !important;
    }
    #timehelp code {
        background: lightgray;
    }
    .yesno {
        font-size: larger;
    }
    .yesno input {
        margin-right: 3px;
    }
    .yesno label {
        margin-right: 15px;
    }
    #precision_value {
        height: 26px;
        margin-bottom: 9px;
    }
    h4 {
        margin: 15px 0 5px;
    }
</style>

{{ block.super }}
{% endblock %}
{% block main %}
<div class="twocol">
    <h2> {% trans "Upload StoryLayer > Time Options for " %} "{{ layer_name }}" </h2>
    
    <div id="feedback" class="alert alert-error hide">
        <div id="no-time">
            Please indicate whether your data have a date/time attributes.
        </div>
        <div id="no-int">
            Please indicate whether the data were collected at regular intervals or not.
        </div>
        <div id="no-int-mult">
            Please indicate how often the data was collected in the text field using whole numbers (e.g., 3, 7, etc.).
        </div>
        <div id="no-int-base">
            Please indicate the interval at which your data were uploaded (every month, year, etc.).
        </div>
        <div id="no-type-start">
            Please indicate what kind of date the start date is.
        </div>
        <div id="no-startatt">
            Please select which attribute contains the start date.
        </div>
        <div id="no-startformat">
            Please specify the exact format of the start date.
        </div>
        <div id="no-format-type-start">
            Please indicate whether we should guess the format of the start or if you would like to specify the format.
        </div>
        <div id="no-end">
            Please indicate whether the data has an end date.
        </div>
        <div id="no-type-end">
            Please indicate what kind of date the end date is.
        </div>
        <div id="no-endatt">
            Please select which attribute contains the end date.
        </div>
        <div id="no-format-type-end">
            Please indicate whether we should guess the format of the end or if you would like to specify the format.
        </div>
        <div id="no-endformat">
            Please specify the exact format of the end date.
        </div>
    </div>
      
    <form method="POST" id="timeForm" action="time">
        {% csrf_token %}
          
        <p>Does this data have date/time attributes?</p>
        <div id="hastime" class="yesno">
            <input name="hastime" type="radio" class="hide">
            <input id="yestime" type="radio" name="hastime" ><label for="yestime">Yes</label>
            <input id="notime" type="radio" name="hastime"><label for="notime">No</label>
        </div>
          
        <div id="hasint" class="hide">
            <p>Was the data collected at regular intervals? (e.g., every 8 hours, every 2 months)</p>
            <div class="yesno">
                <input name="hasint" type="radio" class="hide">
                <input id="yesint" type="radio" name="hasint" ><label for="yesint">Yes</label>
                <input id="noint" type="radio" name="hasint"><label for="noint">No</label>
            </div>
            <input type="hidden" name="presentation_strategy" id="presentation_strategy" value="LIST">
            
            <div id="interval" class="hide">
                <label for="precision_value">Every</label>
                <input id="precision_value" type="text" name="precision_value" size="3"/>
                {{ time_form.precision_step }}
            </div>
        </div>
          
        <hr>
          
        <div id="starttime" class="formSection hide">
            <h4>Start Date/Time</h4>
            <div>
                <label class="align" for="start_type">Type</label>
                <select id="start_type">
                    <option selected="true" value="none"></option>
                    {% if time_form.time_attribute %}
                    <option value="time">Date/Time</option>
                    {% endif %}
                    {% if time_form.text_attribute %}
                    <option value="text">Text</option>
                    {% endif %}
                    {% if time_form.year_attribute %}
                    <option value="year">Year Number</option>
                    {% endif %}
                </select>
            </div>
            <div id="start_att" class="hide">
                <label class="align" for="">Attribute</label>
                {{ time_form.time_attribute }}
                {{ time_form.text_attribute }}
                {{ time_form.year_attribute }}
            </div>
            <div id="startformat" class="hide">
                <label class="align" for="format_select">Date Format</label>
                <select id="format_select">
                    <option selected="true" value="0"></option>
                    <option value="1">Best Guess</option>
                    <option value="2">Custom</option>
                </select>
                <span id="format_input" style="visibility: hidden;" title="See sidebar for help">
                    <label for="id_text_attribute_format">Custom Format:</label> {{ time_form.text_attribute_format }}
                    {% manual_link "prep.time.formats" "View Guide" %}
                </span>
            </div>
        </div>
          
        <div id="endtime" class="formSection hide">
            <h4>End Date/Time</h4>
            <div id="hasend" class="yesno">
                <p>Does this data have an end date/time attribute?</p>
                <input name="hasend" type="radio" class="hide">
                <input id="yesend" type="radio" name="hasend" ><label for="yesend">Yes</label>
                <input id="noend" type="radio" name="hasend"><label for="noend">No</label>
            </div>
            <div id="endtimeopts" class="hide">
                <label class="align" for="end_type">Type</label>
                <select id="end_type">
                    <option selected="true" value="none"></option>
                    {% if time_form.time_attribute %}
                    <option value="time">Date/Time</option>
                    {% endif %}
                    {% if time_form.text_attribute %}
                    <option value="text">Text</option>
                    {% endif %}
                    {% if time_form.year_attribute %}
                    <option value="year">Number</option>
                    {% endif %}
                </select>
                <div id="end_att" class="hide">
                    <label class="align" for="">Attribute</label>
                    {{ time_form.end_time_attribute }}
                    {{ time_form.end_text_attribute }}
                    {{ time_form.end_year_attribute }}
                </div>
                <div id="endformat" class="hide">
                    <label class="align" for="end_format_select">Date Format</label>
                    <select id="end_format_select">
                        <option selected="true" value="0"></option>
                        <option value="1">Best Guess</option>
                        <option value="2">Custom</option>
                    </select>
                    <span id="end_format_input" style="visibility: hidden;" title="See sidebar for help">
                        <label for="id_end_text_attribute_format">Custom Format:</label> {{ time_form.end_text_attribute_format }}
                        {% manual_link "prep.time.formats" "View Guide" %}
                    </span>
                </div>
            </div>
        </div>
        
          
        <input class="btn btn-primary" type="submit" value="{% trans "Next" %}">
    </form>
</div>
<div id="timehelp" class="threecol">
    <h3>Need Help?</h3>
    {% manual_include "time.rst" %}
</div>
<script type="text/javascript" src="{% static "script/layer_upload_time.js" %}"></script>
<script type="text/javascript" src="{% static "script/upload_common.js" %}"></script>
<script type="text/javascript">
{% autoescape off %}
{% if async_upload %}
enableUploadProgress('timeForm');
{% endif %}
{% endautoescape %}
</script>
{% endblock %}
