{% load mapstory_tags %}
<link rel="stylesheet" type="text/css" href="{% geonode_static "externals/ext/resources/css/ext-all.css" %}" />

<link rel="stylesheet"
      type="text/css"
      href="{% geonode_static "externals/ext/resources/css/xtheme-access.css"%}"/>

<script type="text/javascript" src="{% geonode_static "externals/ext/adapter/ext/ext-base.js" %}"></script>
<script type="text/javascript" src="{% geonode_static "externals/ext/ext-all.js" %}"></script>


<script type="text/javascript">
  Ext.Ajax.defaultHeaders = { 'X-CSRFToken': '{{ csrf_token|escapejs }}' };
  Ext.BLANK_IMAGE_URL = "{% geonode_static "externals/ext/resources/images/default/s.gif" %}";
</script>
