{% load dialogos_tags %}
{% load mptt_tags %}
{% load geonode_auth %}
{% load i18n %}

<h3>{% trans "Comments" %}</h3>
<div class="comments_container">
    {% if not comments %}
    <p>No Comments. Be the first!</p>
    {% endif %}
    <ul class="comments_tree">
    {% recursetree comments %}
        <li>
            <div class="comment" id="comment-{{node.id}}">
                <div class="comment_content">
                    {{ node.comment|escape|urlize|linebreaks|safe }} 
                </div>
                <cite rel="author"><a href="{{node.author.get_absolute_url}}">{{ node.author.get_full_name|default:node.author|capfirst }}</a></cite> &mdash; 
                <span class="comment_ago">
                {% blocktrans with node.submit_date|timesince as age %}
                {{ age }} ago
                {% endblocktrans %}
                </span>
                <span class="actions">
                {% if node.author == request.user %}
                <a href="{% url delete_comment node.id %}" class="d btn btn-mini"><i class="icon-trash"></i>Delete</a>
                {% endif %}
                {% if user_can_post %}
                <a href="{{ node.reply_url }}" class="r btn btn-mini">Reply</a>
                {% endif %}
                </span>
            </div>
            {% if not node.is_leaf_node %}
            <ul class="comments_children">
            {{ children }}
            </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
    </ul>

    {% if why_cant_user_post %}
    <p class="alert">{{ why_cant_user_post }}</p>
    {% else %}
        <h3>{% trans "Post a comment" %}</h3>
        {% comment_form comment_object as comment_form %}
        <form method="POST" action="{% comment_target comment_object %}">
            {% csrf_token %}
            <div class="comment_box">
                {{ comment_form.comment }}
            </div>
            <div class="comment_post">
                <button class="btn" type="submit">{% trans "Submit" %}</button>
            </div>
            <input type="hidden" name="next" value="{{ request.path }}" />
        </form>
        <div class="modal" id="comment_modal" style="display:none;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Reply to Comment</h3>
            </div>
            <div class="modal-body">
            </div>
        </div>
    {% endif %}
</div>