{% load mapstory_tags %}

<section class="box mrg-btm">
    <h2>BY THIS STORYTELLER</h2>
    <div class="tabbable">
        <ul class="nav nav-tabs fancyfont">
          <li class="active"><a href="#1" data-toggle="tab">MAPSTORIES</a></li>
          <li><a href="#2" data-toggle="tab">STORYLAYERS</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <div class="article-list">
                {% for m in maps %}
                    {% map_info_tile m left %}
                {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="2">
                <div class="article-list">
                {% for l in layers %}
                    {% map_info_tile l left %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>