<p>You may tag this with a single topic. To select a
topic, choose from the list below.
</p>
{% with topic_object.topic_set.all as topics %}
{% if topics %}
<p class="info">
This is currently tagged as <b>{{ topics.0.name }}</b>.
</p>
{% else %}
<p class="topic-info alert">
This has not been tagged yet.
</p>
{% endif %}     
{% endwith %}

<div class="btn-group" id="topic-dropdown">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        Topics<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for s in sections %}
        <li class="section">{{s.name}}</li>
        <ul class="topic-list">
            {% for t in s.topics.all %}
            <li><a href="#{{ t.pk }}">{{ t.name }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
</div>
<script type="text/javascript">
{% autoescape off %}
$(function(objectid) {
    $("#topic-dropdown a").click(function(ev) {
        ev.preventDefault();
        $.post( "{% url topics_api topic_object.pk %}", {
            'topics' : $(this).attr('href').substring(1)
        },function() {
            $(".topic-info.alert").fadeOut();  
        })
    });
});  
{% endautoescape %}
</script>