{% load mapstory_tags %}

<section class="box mrg-btm">
    <h2>BY THIS STORYTELLER</h2>
    <div class="tabbable">
        <ul class="nav nav-tabs fancyfont">
          <li class="active"><a href="#1" data-toggle="tab">MAPSTORIES</a></li>
          <li><a href="#2" data-toggle="tab">STORYLAYERS</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <div class="paginate paginate-auto load" data-page-select="article">
                    {% if not maps_pager.has_other_pages %}
                    This StoryTeller has some stories yet to tell.
                    {% endif %}
                    <section class="paginate-contents article-list">
                    </section>
                    {% pagination maps_pager 'by_storyteller_pager' user.username 'maps' %}
                </div>
            </div>
            <div class="tab-pane" id="2">
                <div class="paginate paginate-auto load" data-page-select="article">
                    {% if not maps_pager.has_other_pages %}
                    This StoryTeller has some data waiting to be shared.
                    {% endif %}
                    <section class="paginate-contents article-list">
                    </section>
                    {% pagination layers_pager 'by_storyteller_pager' user.username 'layers' %}
                </div>
            </div>
        </div>
    </div>
</section>