<p>Publishing Status : <span style="font-weight: bold" id="current_publish_status">{{ current_status }}</span></p>
{% if publish_object.publish.check_related %}
<p class="alert alert-warn">This MapStory is using one or more StoryLayers that you
are not the owner of. If the owner changes the permissions, this may cause problems.</p>
{% endif %}
{% if publish_object_type == 'map' %}
<p class="alert alert-warn">Changing the status of a MapStory will cause all
of your StoryLayers that it uses to use the same status.</p>
{% endif %}
<div class="btn-group" id="publish-dropdown">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        Change Status<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for s in publish_options %}
        <li class="{% if current_status == s.value %}active{% endif %}"><a href="#{{s.key}}">{{s.value}}</a></li>
        {% endfor %}
    </ul>
    <div id="status-warning">
        
    </div>
</div>
<script type="text/javascript">
{% autoescape off %}
var publishing_url = "{% url publish_status publish_object_type publish_object.pk %}";
{% endautoescape %}
</script>