{% extends "mapstory/story_detail_base.html" %}
{% load i18n %}
{% load geonode_auth %}
{% load mapstory_tags %}

{% block extra_head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}

    <script type="text/javascript">
{% autoescape off %}
        var styleEditor, modified = false;
        Ext.onReady(function() {
            var config = {
                proxy: "/proxy/?url=",
                localGeoServerBaseUrl: "{{GEOSERVER_BASE_URL}}",
                authorizedRoles: "{{ user.is_authenticated|yesno:"ROLE_ADMINISTRATOR,ROLE_ANONYMOUS" }}",

                /* The URL to a REST map configuration service.  This service 
                 * provides listing and, with an authenticated user, saving of 
                 * maps on the server for sharing and editing.
                 */
                rest: "/maps/",
                
                portalConfig: {
                    renderTo: "preview_map",
                    height: 350
                },

                listeners: {
                    "ready": function() {
                        var map = app.mapPanel.map;
                        map.zoomToExtent(map.layers.slice(-1)[0].maxExtent);
                    },
                    "beforeunload": function() {
                        if (modified) {
                            styleEditor.show();
                            return false;
                        }
                    }
                }
            };

            config = Ext.apply(config, {{ viewer|safe }});
            if (config.map.zoom === null) {
                config.map.zoom = 1;
            }
            app = new GeoExplorer.Viewer(config);
            
            Ext.get(Ext.DomQuery.select("input[@name='style']")).on("click", function(evt, elem) {
                app.selectedLayer.getLayer().mergeNewParams({
                    "STYLES": elem.value,
                    "_dc": Math.random()
                });
            });

            Ext.get(Ext.DomQuery.select("select[@name='default-style']")).on("change", function(evt, elem) {
                Ext.Ajax.request({
                    method: "post",
                    url: "{% url layer_style layer.typename %}",
                    params: {"defaultStyle" : elem.value}
                });
            });
{% has_obj_perm user layer "maps.change_layer" as can_change %}
{% if can_change %}
            Ext.get(Ext.DomQuery.select(".style-title")).on("click", function(evt, elem) {
                showStyle(Ext.get(elem).prev("input").getAttribute("value"));
            });
{% endif %}

{% has_obj_perm user layer "maps.change_layer_permissions" as can_change_permissions %}
{% if can_change_permissions %}
            new GeoNode.PermissionsEditor({
                renderTo: "permissions_form",
                userLookup: "{% url geonode.views.ajax_lookup %}",
                permissions: {{ permissions_json }},
                levels: {
                    'admin': 'layer_admin',
                    'readwrite': 'layer_readwrite',
                    'readonly': 'layer_readonly',
                    '_none': '_none'
                },
                listeners: {
                    updated: function(perms) {
                        var submitTo = "{% url geonode.maps.views.ajax_layer_permissions layer.typename %}";
                        Ext.Ajax.request({ url: submitTo, jsonData: perms.writePermissions() });
                    }
                }
            });
{% endif %}
            var hasThumb = {% if layer.get_thumbnail %}true{% else %}false{% endif %};
            var thumbURL = "{% url layer_thumbnail layer.typename %}";
            {% include "maps/thumbnail_help.js" %}
        });

        function showStyle(styleName) {
            
            if (!styleName) {
                Ext.ComponentMgr.all.on("add", function(index, object) {
                    if (object instanceof gxp.WMSStylesDialog) {
                        Ext.ComponentMgr.all.un("add", arguments.callee);
                        object.on("ready", function() {
                            object.addStyle();
                        }, this, {single: true});
                    }
                });
            }
            app.tools["styler"].actions[0].execute();
        }
{% endautoescape %}
    </script>
{% endblock %}

{% block body_class %}manage-layer-page{% endblock %}

{% block main %}
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a> <span class="divider">&gt;</span>
                </li>
                <li>
                <a href="#">Search StoryLayers</a> <span class="divider">&gt;</span>
                </li>
                <li class="active">
                    <a href="#">StoryLayer Page</a>
                </li>
            </ul>
        </div>
        <div class="span8">
            <h2 class="icn-storylayers">{{ layer.title }}</h2>
        </div>
        <div class="span4">
            <a href="#" class="back">Back to Search</a>
        </div>
        <div class="span8">
            <div class="box mrg-btm">
                <div class="story-detail">
                    <div id="preview_map"></div>

                    <div class="video-actions tabbable">
                        <ul class="actions-links nav nav-tabs fancyfont">
                            <li><a href="#describemap" class="icn info" data-toggle="pill">Info</a></li>
<!--                            <a href="#" class="icn favorites">Add to Favorites</a>-->
                            <li><a href="#actions3" class="icn share" data-toggle="pill">Share</a></li>
                            <li><a href="#actions4" class="icn flag" data-toggle="pill">Flag</a></li>
                            <li><a href="#actions5" class="icn add" data-toggle="pill">Add</a></li>
                            <li><a href="#actions6" class="icn download" data-toggle="pill">Download</a></li>
                        </ul>
                        <div class="metrics">
                            <span class="views"><i>1,205</i> Views</span>
                            <span class="rating">3 stars</span>
                        </div>
                    </div>
                    <div class="video-actions tab-content">
                        <div class="tab-pane active" id="describemap">
                            {% has_obj_perm user layer "maps.change_layer" as can_change %}
                            {% if can_change %}
                            <form id="info-form" method="POST" action="{% url layer_metadata layer.typename %}">
                            <label>Title:</label>
                            <input name="layer-title" type="text" value="{{layer.title}}">
                            <label>Author:</label>
                            <p>{{layer.owner}}</p>
                            <label>Keywords:</label>
                            <textarea name="layer-keywords">{{layer.keywords}}</textarea>
                            <label>Abstract:</label>
                            <textarea name="layer-abstract">{{layer.abstract}}</textarea>
                            <div>
                                <button class="btn" id="submit">Update Information</button>
                            </div>
                            {% csrf_token %}
                            </form>
                            {% topic_selection layer %}
                            <script type="text/javascript">
                                $(function() {
                                    $("#submit").click(function(ev) {
                                        ev.preventDefault();
                                        var form = $(this).closest('form');
                                        $.post(
                                            form.attr('action'),
                                            form.serialize(),
                                            function() {
                                                alert('updated');
                                            }
                                        );
                                    });
                                })
                            </script>
                            {% else %}
                            <label>Title:</label>
                            <p>{{ layer.title }}</p>
                            <label>Author:</label>
                            <p>{{layer.owner}}</p>
                            <label>Keywords:</label>
                            <p>{{layer.keywords}}</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="actions3">
                            Social links here
                        </div>
                        <div class="tab-pane" id="actions4">
                            Flag not implemented yet
                        </div>
                        <div class="tab-pane" id="actions5">
                            Add to what?
                        </div>
                        <div class="tab-pane" id="actions6">
                        </div>
                    </div>
                </div>
                
                <article class="abstract"><p>Abstract: {{ layer.abstract }}</p></article>
                <cite>Uploaded by {{ layer.owner.username }} on {{ layer.date|date:"N j Y" }}</cite>
                
                {% include "mapstory/_comments.html" %}

            </div>
        </div>
        <div class="span4">
            {% about_storyteller layer %}

            <section class="box mrg-btm">
                <h2>USING THIS STORYLAYER</h2>
                {% with layer.maps as maps %}
                    {% if maps %}
                        <div class="article-list">
                        {% for m in maps %}
                            {% map_info_tile m left %}
                        {% endfor %}
                        </div>
                    {% else %}
                    <p>No Maps are using this StoryLayer. Be the first!</p>
                    {% endif %}
                {% endwith %}
                <button>Create A Map</button>
            </section>

            <section class="box mrg-btm storyteller-layer">
                <h2>STORYTELLERS USING THIS LAYER:</h2>
                    <div class="storyteller">
                        <img src="http://www.gravatar.com/avatar/b59a1fea77f9350c8225395f55204abe?r=pg&s=70">
                        <h4>Prof. Jim Jones,<br /> Notre Dame</h4>
                        <h5>Layers Used:</h5>
                        <p><a href="#">This is link to layer 1</a>, <a href="#">This is link to layer 2</a>,
                        <a href="#">Link layer 3</a>,  <a href="#">Link to layer 4</a></p>
                        <p><a href="#" class="read-more">More Layers</a></p>
                    </div>
                    <div class="storyteller">
                        <img src="http://www.gravatar.com/avatar/a6a965150162eef63f1d2f8aae15c57c?r=pg&s=70">
                        <h4>Gary Lewin,<br /> EU Institute of Humanities</h4>
                        <h5>Layers Used:</h5>
                        <p><a href="#">This is link to layer 1</a>, <a href="#">This is link to layer 2</a>,
                        <a href="#">Link layer 3</a>,  <a href="#">Link to layer 4</a></p>
                        <p><a href="#" class="read-more">More Layers</a></p>
                    </div>
                    <div class="storyteller last">
                        <img src="http://www.gravatar.com/avatar/c0c61fb94a5785be367b0fceea6985f1?r=pg&s=70">
                        <h4>Susan Turner,<br /> American Museum of Natural History</h4>
                        <h5>Layers Used:</h5>
                        <p><a href="#">This is link to layer 1</a>, <a href="#">This is link to layer 2</a>,
                        <a href="#">Link layer 3</a>,  <a href="#">Link to layer 4</a></p>
                        <p><a href="#" class="read-more">More Layers</a></p>
                    </div>
            </section>
            {% include "mapstory/_widget_social.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(function() {
            $("article.abstract a.read-more").click(function(event) {
                event.preventDefault();
            });
        });
    </script>
{% endblock %}