{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Update Layer"  %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/app_header.html" %}
{{ block.super }}
{% endblock %}

{% block main %}

  {% if errors %}
    <div id="errors">
      {% for error in errors %}
        <div>{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <div id="upload_form">
  </div>
<script type="text/javascript" src="{{ STATIC_URL }}script/layer_upload.js"></script>
<script type="text/javascript">
{% autoescape off %}
setup({
    csrf_token : "{{ csrf_token }}",
    form_target : "{% url geonode.maps.views.layerController layer.typename %}?update",
    userLookup : "{% url geonode.views.ajax_lookup %}",
    layer_name : "{{ layer.name|escapejs }}",
    is_featuretype : {% if is_featuretype %}true{% else %}false{% endif %}
});
{% endautoescape %}
</script>

{% endblock %}


{% block sidebar %}
<h3>{%trans "Update Layer"  %} "{{layer.name}}"</h3>
<p>{% trans "This form allows you to update the data for this layer."  %}</p>
<p>{% blocktrans %}
If the new dataset omits attributes that were included in the previous version,
or changes their types, then existing styles for the layer may not work.
Please check your maps if the new data includes such changes.  Additionally,
updated data must be the same format as the data already in place, e.g.
{% endblocktrans %}
{% if is_featuretype %} a Shapefile. {% else %} a GeoTIFF.  {% endif %}
</p>
<p>{% trans "Select a layer data file and submit the form to begin the transfer."  %}</p>

<h3>{% trans "This action affects the following maps:"  %}</h3>
<p>
<ul>
	{% for map in layer.maps %}
	<li>{{map.title}}</li>
    {% empty %}
    <li> {% trans "No maps are using this layer." %} </li>
	{% endfor %}
<ul>
</p>
<p></p>

<h3>{% trans "Supported Formats"  %}</h3>

<ul>
  {% if is_featuretype %}
  <li>Shapefile</li>
  {% else %}
  <li>GeoTIFF</li>
  {% endif %}
<ul>
{% endblock %}
