{% extends "no_bottom_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Upload Layer"  %} - {{ block.super }} {% endblock %}

{% block extra_head %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}theme/ux/fileuploadfield/fileuploadfield.css"/>
{{ block.super }}
{% endblock %}

{% block main %}
<div class="twocol">
    <h2>{% trans "Add data" %}</h2>
    <p class="alert alert-error">Note that time support in MapStory is currently limited to everything from 1AD 
       until the reasonable future (5,874,897 AD).</p>
    <p class="alert alert-error">Uploading of zip files is also supported. The zip file must contain the
       appropriate shapefiles (.shp,.dbf,.prj) in the top-level directory.
    </p>
    {% if enough_storage %}
    <p class="alert alert-error">There are currently {{ storage_remaining }} of space left on this server.
    Please ensure that your data is not too much bigger than this. During processing, at least 3 times
    the storage is required.</p>
    {% else %}
    There is not enough space on the server to handle uploads at the moment.
    {% endif %}
  {% if errors %}
    <div id="errors">
      {% for error in errors %}
        <div>{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}

{% if enough_storage %}

  <div id="upload_form">
  </div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}script/layer_upload.js"></script>
<script type="text/javascript">
{% autoescape off %}
setup({
    csrf_token : "{{ csrf_token }}",
    form_target : "{% url geonode.maps.views.upload_layer %}",
    userLookup : "{% url geonode.views.ajax_lookup %}"
});
{% endautoescape %}
</script>
{% endif %}

{% endblock %}



{% block sidebar %}
<div class="threecol">
    
{% if enough_storage %}
<h3>{%trans "Permissions"  %}</h3>

<div id="permissions_form"></div>
{% endif %}
{% endblock %}
