{% extends "page_layout.html" %}
{% load i18n %}
{% load geonode_auth %}
{% load mapstory_tags %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}

{% block head_title %}{{layer.title}}{% endblock %}

{% block extra_head %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
<script type="text/javascript" src="{{ STATIC_URL}}script/favorites.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}script/info.js"></script>
    <script type="text/javascript">
{% autoescape off %}
        var styleEditor, modified = false;
        Ext.onReady(function() {
            var config = {
                // Keep the next 3 items in the template
                localGeoServerBaseUrl: "{{GEOSERVER_BASE_URL}}",
                authorizedRoles: "{{ user.is_authenticated|yesno:"ROLE_ADMINISTRATOR,ROLE_ANONYMOUS" }}",
                portalConfig: {
                    renderTo: "preview_map", //belongs in template as it references a specific page element id
                    //height: 450
                },
                // The rest of this config could be moved to the application's viewer class

                /* The URL to a REST map configuration service.  This service 
                 * provides listing and, with an authenticated user, saving of 
                 * maps on the server for sharing and editing.
                 */
                rest: "/maps/",
                proxy: "/proxy/?url=",
                listeners: {
                    "ready": function() {
                        var map = app.mapPanel.map;
                        map.zoomToExtent(map.layers.slice(-1)[0].maxExtent);
                    },
                    "beforeunload": function() {
                        if (modified) {
                            styleEditor.show();
                            return false;
                        }
                    }
                }
            };

            config = Ext.apply(config, {{ viewer|safe }});
            if (config.map.zoom === null) {
                config.map.zoom = 1;
            }
            app = new mapstory.LayerViewer(config);
            
            //Are these next 2 element click handlers relevant anymore?
            Ext.get(Ext.DomQuery.select("input[@name='style']")).on("click", function(evt, elem) {
                app.selectedLayer.getLayer().mergeNewParams({
                    "STYLES": elem.value,
                    "_dc": Math.random()
                });
            });

            Ext.get(Ext.DomQuery.select("select[@name='default-style']")).on("change", function(evt, elem) {
                Ext.Ajax.request({
                    method: "post",
                    url: "{% url layer_style layer.typename %}",
                    params: {"defaultStyle" : elem.value}
                });
            });
{% has_obj_perm user layer "maps.change_layer" as can_change %}
{% if can_change %}
            Ext.get(Ext.DomQuery.select(".style-title")).on("click", function(evt, elem) {
                showStyle(Ext.get(elem).prev("input").getAttribute("value"));
            });
{% endif %}

{% has_obj_perm user layer "maps.change_layer_permissions" as can_change_permissions %}
{% if can_change_permissions %}
{% comment %}
//            new GeoNode.PermissionsEditor({
//                renderTo: "permissions_form",
//                userLookup: "{% url geonode.views.ajax_lookup %}",
//                permissions: {{ permissions_json }},
//                levels: {
//                    'admin': 'layer_admin',
//                    'readwrite': 'layer_readwrite',
//                    'readonly': 'layer_readonly',
//                    '_none': '_none'
//                },
//                listeners: {
//                    updated: function(perms) {
//                        var submitTo = "{% url geonode.maps.views.ajax_layer_permissions layer.typename %}";
//                        Ext.Ajax.request({ url: submitTo, jsonData: perms.writePermissions() });
//                    }
//                }
//            });
{% endcomment %}
            var hasThumb = {% if layer.get_thumbnail %}true{% else %}false{% endif %};
            var thumbURL = "{% url layer_thumbnail layer.typename %}";
            {% include "maps/thumbnail_help.js" %}
{% endif %}
        });

        function showStyle(styleName) {
            
            if (!styleName) {
                Ext.ComponentMgr.all.on("add", function(index, object) {
                    if (object instanceof gxp.WMSStylesDialog) {
                        Ext.ComponentMgr.all.un("add", arguments.callee);
                        object.on("ready", function() {
                            object.addStyle();
                        }, this, {single: true});
                    }
                });
            }
            app.tools["styler"].actions[0].execute();
        }
{% endautoescape %}
    </script>
{% endblock %}

{% block body_class %}manage-layer-page{% endblock %}

{% block main %}
    <div class="row mrg-top">
        <div class="span8">
            <h2 class="icn-storylayers">{{ layer.title }}</h2>
        </div>
        <div class="span4 top-detail-actions">
            <a href="{% url map_new %}?layer={{layer.typename}}" target="_">Create a Story using this StoryLayer</a>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="box mrg-btm describe-object">
                <div class="story-detail">
                    <div id="preview_map"></div>
                    <div class="metrics">
                        {% map_view_hitcount layer %}
                        {% overall_rating layer "layer" as layer_rating %}
                        <span class="overall_rating" data-rating="{{ layer_rating }}"></span>
                    </div>
                    <div class="video-actions tabbable">
                        <ul class="actions-links nav nav-tabs fancyfont">
                            <li><a href="#describemap" class="icn info active" data-toggle="pill">Info</a></li>
<!--                            <a href="#" class="icn favorites">Add to Favorites</a>-->
                            <li><a href="#actions3" class="icn share" data-toggle="pill">Share</a></li>
                            <li><a href="#actions4" class="icn flag" data-toggle="pill">Flag</a></li>
                            <li><a href="#actions5" class="icn add" data-toggle="pill">Add</a></li>
                            <li><a href="#actions6" class="icn download" data-toggle="pill">Download</a></li>
                        </ul>
                        
                    </div>
                    <div class="video-actions tab-content">
                        <div class="tab-pane" id="describemap">
                            {% has_obj_perm user layer "maps.change_layer" as can_change %}
                            {% if can_change %}
                            <form id="info-form" method="POST" action="{% url layer_metadata layer.typename %}">
                            <label>Title:</label>
                            <input name="layer-title" type="text" value="{{layer.title}}">
                            <label>Author:</label>
                            <p>{{layer.owner}}</p>
                            <label>Keywords:</label>
                            <textarea name="layer-keywords">{{layer.keywords}}</textarea>
                            <label>Abstract:</label>
                            <textarea name="layer-abstract">{{layer.abstract}}</textarea>
                            <div>
                                <button class="btn" id="submit">Update Information</button>
                            </div>
                            {% csrf_token %}
                            </form>
                            <hr/>
                            {% topic_selection layer %}
                            <hr/>
                            <p>Generate a thumbnail for this map</p>
                            <a id="set_thumbnail" class="btn" href="#thumbnail">{% trans "Set thumbnail" %}</a>
                            <hr/>
                            {% publish_status layer %}
                            {% else %}
                            <label>Title:</label>
                            <p>{{ layer.title }}</p>
                            <label>Author:</label>
                            <p>{{layer.owner}}</p>
                            <label>Keywords:</label>
                            <p>{{layer.keywords}}</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="actions3">
                            <g:plusone size="small"></g:plusone>
                            <div class="fb-like" data-href="http://{{ request.get_host }}{{ request.get_full_path }}" data-send="false" data-width="50" data-layout="button_count" data-show-faces="false"></div>
                        </div>
                        <div class="tab-pane" id="actions4">
                            Flag not implemented yet
                        </div>
                        <div class="tab-pane" id="actions5">
                            {% if user.is_authenticated %}
                            {% add_to_favorites layer %}
                            {% add_to_map layer %}
                            {% else %}
                            <p>Login to add to your favorites list.</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="actions6">
                            {% if user.is_authenticated %}
                            <h4>Download this data:</h4>
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Available Formats
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for l in layer.download_links %}
                                    <li><a href="{{l.2}}" target="dlframe">{{l.1}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <iframe id="dlframe" style="display:none"></iframe>
                            {% else %}
                            <p>You must be logged in to download.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                                
                <div class="rating-area">
                    {% if request.user.is_authenticated %}
                        <span>{% trans "Rate this StoryLayer" %}</span>
                        {% user_rating request.user layer "layer" as user_layer_rating %}
                        <div id="user_rating" class="category-layer"></div>
                    {% endif %}
                </div>
                <cite>Uploaded by {{ layer.owner.username }} on {{ layer.date|date:"N j Y" }}</cite>
                <article class="abstract"><p>Abstract:</p> {{ layer.abstract|escape|urlize|linebreaks|safe }}</article>
                
                {% comments_section layer %}

            </div>
        </div>
        <div class="span4">
            {% about_storyteller layer %}

            <section class="box mrg-btm">
                <h2>USING THIS STORYLAYER</h2>
                {% with layer.maps as maps %}
                    {% if maps %}
                        <div class="article-list">
                        {% for m in maps %}
                            {% map_info_tile m left %}
                        {% endfor %}
                        </div>
                    {% else %}
                    <p>No MapStories are using this StoryLayer. Be the first!</p>
                    {% endif %}
                {% endwith %}
                <a class="button orange" href="{% url geonode.maps.views.newmap %}?layer={{layer.typename}}">Create A MapStory</a>
            </section>

            {% include "mapstory/_widget_social.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_body %}
{% if request.user.is_authenticated %}
	{% user_rating_js request.user layer "layer" %}
{% else %}
	<script src="{{ STATIC_URL }}agon_ratings/js/jquery.raty.js"></script>
{% endif %}
<script type="text/javascript">
$(function() {
    $('span.overall_rating').raty({
        half: true,
        readOnly: true,
        start: $('span.overall_rating').data('rating'),
        path: "{{ STATIC_URL }}agon_ratings/img/"
    });
});
(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>
{% include "_fb_include.html" %}
{% map_view_hitcount_tracker request layer %}
{% endblock %}