{% extends "page_layout.html" %}
{% load i18n %}
{% load geonode_auth %}
{% load mapstory_tags %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load staticfiles %}

{% block title %}{{layer.title}}{% endblock %}

{% block extra_head %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "c606f59c-567f-4e5c-99f9-4095c74151c1", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<link rel="stylesheet" type="text/css" href="/static/theme/comments.css" media="screen" />
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
<script type="text/javascript" src="{% static "script/comments.js" %}"></script>
<script type="text/javascript" src="{% static "script/favorites.js" %}"></script>
<script type="text/javascript" src="{% static "script/info.js" %}"></script>
    <script type="text/javascript">
{% autoescape off %}
        var styleEditor, modified = false;
        Ext.onReady(function() {
            var config = {
                // Keep the next 3 items in the template
                localGeoServerBaseUrl: "{{GEOSERVER_BASE_URL}}",
                authorizedRoles: "{{ user.is_authenticated|yesno:"ROLE_ADMINISTRATOR,ROLE_ANONYMOUS" }}",
                portalConfig: {
                    renderTo: "preview_map", //belongs in template as it references a specific page element id
                    //height: 450
                },
                // The rest of this config could be moved to the application's viewer class

                /* The URL to a REST map configuration service.  This service 
                 * provides listing and, with an authenticated user, saving of 
                 * maps on the server for sharing and editing.
                 */
                rest: "/maps/",
                proxy: "/proxy/?url=",
                listeners: {
                    "ready": function() {
                        var map = app.mapPanel.map;
                        map.zoomToExtent(map.layers.slice(-1)[0].maxExtent);
                    },
                    "beforeunload": function() {
                        if (modified) {
                            styleEditor.show();
                            return false;
                        }
                    }
                }
            };

            config = Ext.apply(config, {{ viewer|safe }});
            if (config.map.zoom === null) {
                config.map.zoom = 1;
            }
            app = new mapstory.LayerViewer(config);
            
            //Are these next 2 element click handlers relevant anymore?
            Ext.get(Ext.DomQuery.select(".styles-list input[@name='style']")).on("click", function(evt, elem) {
                app.selectedLayer.getLayer().mergeNewParams({
                    "STYLES": elem.value,
                    "_dc": Math.random()
                });
            });

            Ext.get(Ext.DomQuery.select("select[@name='default-style']")).on("change", function(evt, elem) {
                Ext.Ajax.request({
                    method: "post",
                    url: "{% url data_style layer.typename %}",
                    params: {"defaultStyle" : elem.value}
                });
            });
{% has_obj_perm user layer "maps.change_layer" as can_change %}
{% if can_change %}
            /** @hack - work around global hack in geoexplorer **/
            Ext.data.Connection.on({beforerequest:function(con,options){
                if ('form' in options) {
                    options.url = options.form.action;
                }
            }});
            Ext.select("#upload-style a").on("click", function(ev, el) {
                var extForm = new Ext.form.BasicForm(Ext.get(el).parent('form')),
                    msg = Ext.get('upload-style-msg');
                ev.preventDefault();
                extForm.on('actioncomplete',function(form,xhrlike) {
                    var resp = xhrlike.result;
                    msg.removeClass('hide');
                    msg.replaceClass('alert-error','alert-info');
                    msg.dom.innerHTML = resp.style + (resp.updated ? " Updated" : " Uploaded");
                    msg.frame();
                    if (!resp.updated) {
                        Ext.DomHelper.append('style-preview',{
                            tag : 'input',
                            type : 'radio',
                            name : 'style',
                            id : resp.style,
                            value: resp.style
                        });
                        Ext.DomHelper.append('style-preview',{
                            tag : 'label',
                            'for' : resp.style,
                            cls : 'style-title',
                            html : resp.style
                        });
                        Ext.DomHelper.append(Ext.select("select[@name='default-style']"), {
                            tag : 'option',
                            value : resp.style,
                            html : resp.style
                        });
                    }
                });
                extForm.on('actionfailed',function(form,xhrlike) {
                    var resp = xhrlike.result;
                    msg.removeClass('hide');
                    msg.replaceClass('alert-info','alert-error');
                    msg.dom.innerHTML = resp.errors.join("<br>");
                    msg.frame();
                });
                extForm.submit();
            });
{% endif %}

{% has_obj_perm user layer "maps.change_layer_permissions" as can_change_permissions %}
{% if can_change_permissions %}
{% comment %}
//            new GeoNode.PermissionsEditor({
//                renderTo: "permissions_form",
//                userLookup: "{% url geonode.views.ajax_lookup %}",
//                permissions: {{ permissions_json }},
//                levels: {
//                    'admin': 'layer_admin',
//                    'readwrite': 'layer_readwrite',
//                    'readonly': 'layer_readonly',
//                    '_none': '_none'
//                },
//                listeners: {
//                    updated: function(perms) {
//                        var submitTo = "{% url geonode.maps.views.ajax_layer_permissions layer.typename %}";
//                        Ext.Ajax.request({ url: submitTo, jsonData: perms.writePermissions() });
//                    }
//                }
//            });
{% endcomment %}
{% endif %}
        });

{% endautoescape %}
    var hasThumb = {% if layer.has_thumbnail %}true{% else %}false{% endif %};
    var thumbURL = "{% url layer_thumbnail layer.typename %}";
    </script>
{% if can_change_permissions %}
<script type="text/javascript" src="{% static "script/thumbnail_help.js" %}"></script>
{% endif %}
{% endblock %}

{% block body_class %}manage-layer-page{% endblock %}

{% block main %}
    <div class="row mrg-top">
        <div class="span8">
            <h2 class="icn-storylayers">{{ layer.title|default:layer.name }}</h2>
        </div>
        <div class="span4 top-detail-actions">
            <a href="{% url maps_new %}?layer={{layer.typename}}" target="_">Create a Story using this StoryLayer</a>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="box mrg-btm describe-object">
                <div class="story-detail">
                    {% warn_status request layer %}
                    <div id="preview_map"></div>
                    <div class="metrics">
                        {% map_view_hitcount layer %}
                        {% overall_rating layer "layer" as layer_rating %}
                        <span class="overall_rating" data-rating="{{ layer_rating }}"></span>
                    </div>
                    
                    {% has_obj_perm user layer "maps.change_layer" as can_change %}
                    <div class="video-actions tabbable">
                        <ul class="actions-links nav nav-tabs fancyfont">
                            <li><a href="#describemap" class="icn info active" data-toggle="pill">Info</a></li>
                            {% if can_change %}
                            <li><a href="#actions7" class="icn layers" data-toggle="pill">Style</a></li>
                            {% endif %}
<!--                            <a href="#" class="icn favorites">Add to Favorites</a>-->
                            <li><a href="#actions3" class="icn share" data-toggle="pill">Share</a></li>
                            <li><a href="#actions4" class="icn flag" data-toggle="pill">Flag</a></li>
                            <li><a href="#actions5" class="icn add" data-toggle="pill">Add</a></li>
                            <li><a href="#actions6" class="icn download" data-toggle="pill">Download</a></li>
                        </ul>
                        
                    </div>
                    <div class="video-actions tab-content">
                        <div class="tab-pane" id="describemap">
                            {% if can_change %}
                            {% include "maps/_layer_edit_metadata.html" %}
                            {% else %}
                            {% include "maps/_layer_view_metadata.html" %}
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="actions3">
                            <span class='st_facebook_vcount' displayText='Facebook'></span>
                            <span class='st_twitter_vcount' displayText='Tweet'></span>
                            <span class='st_linkedin_vcount' displayText='LinkedIn'></span>
                            <span class='st_googleplus_vcount' displayText='Google +'></span>
                            <span class='st_pinterest_vcount' displayText='Pinterest'></span>
                            <span class='st_email_vcount' displayText='Email'></span>
                        </div>
                        <div class="tab-pane" id="actions4">
                            Flag not implemented yet
                        </div>
                        <div class="tab-pane" id="actions5">
                            {% if user.is_authenticated %}
                            {% add_to_favorites layer %}
                            {% add_to_map layer %}
                            {% else %}
                            <p>Login to add to your favorites list.</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="actions6">
                            {% if user.is_authenticated %}
                            <h4>Download this StoryLayer:</h4>
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                    Available Formats
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% for l in layer.download_links %}
                                    <li><a href="{{l.2}}" target="dlframe">{{l.1}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <hr>
                            <h4>Or The Styles This StoryLayer Uses:</h4>
                            <span class="styles-list">
                                <a target="dlframe" href="{{ GEOSERVER_BASE_URL }}styles/{{ layer.default_style.name }}.sld">Download {{layer.publishing.default_style.name}}</a><br/>
                                {% for style in layer.styles %} 
                                    <a target="dlframe" href="{{ GEOSERVER_BASE_URL }}styles/{{ style.name }}.sld">Download
                                    {% if style.sld_title %}
                                        {{ style.sld_title }}
                                     {% else %}
                                        {{ style.name|title }}
                                     {% endif %}
                                    </a><br/>
                                {% endfor %}
                            </span>
                            {% else %}
                            <p>You must be logged in to download.</p>
                            {% endif %}
                        </div>
                        {% if can_change %}
                        <div class="tab-pane" id="actions7">
                            <span style="float:right">
                                {% manual_link "styling" "Style Help?" %}
                            </span>
                            <div id="style-preview" class="styles-list">
                                <h4>Change Style (Preview)</h4>
                                <input type="radio" name="style" id="{{layer.publishing.default_style.name}}" value="{{layer.publishing.default_style.name}}" checked="checked"/>
                                <label for="{{layer.publishing.default_style.name}}" class="style-title">
                                {% if layer.default_style.sld_title %}
                                {{ layer.default_style.sld_title }}
                                {% else %}
                                {{ layer.default_style.name|title }}
                                {% endif %}
                                </label>
                                <a target="dlframe" href="{{ GEOSERVER_BASE_URL }}styles/{{ layer.default_style.name }}.sld">Download SLD</a><br/>
                                {% for style in layer.styles %} 
                                <input type="radio" name="style" id="{{style.name}}" value="{{style.name}}"/>
                                <label for="{{style.name}}" class="style-title">
                                {% if style.sld_title %}
                                {{ style.sld_title }}
                                {% else %}
                                {{ style.name|title }}
                                {% endif %}
                                </label>
                                <a target="dlframe" href="{{ GEOSERVER_BASE_URL }}styles/{{ style.name }}.sld">Download SLD</a><br/>
                                {% endfor %}
                            </div>
                            <hr>
                            <h4>Set Default Style</h4>
                            <select name="default-style">
                            <option value="{{layer.publishing.default_style.name}}" selected="selected">
                              {{layer.publishing.default_style.name|title}}
                            </option>
                            {% for style in layer.styles %} 
                                <option value="{{style.name}}"> {{ style.name|title }} </option>
                            {% endfor %}
                            </select><br/>
                            <hr>
                            <h4>Upload Style</h4>
                            <form id="upload-style" action="{% url upload_style %}" target="dlframe" method="POST" enctype="multipart/form-data">
                                <div id="upload-style-msg" class="alert alert-error hide"></div>
                                <label title="The name must match an existing style" class="checkbox" for="id_update"><input type="checkbox" id="id_update" name="update"/> Update Existing Style?</label>
                                <label title="If the name cannot be extracted from the SLD, this must be provided" for="id_name">Name (Optional):</label><input type="text" id="id_name" name="name">
                                <label for="id_sld">SLD File (.sld):</label><input type="file" id="id_sld" name="sld">
                                <input type="hidden" name="layerid" value="{{layer.id}}">
                                <a href="#" class="btn">Upload</a>
                                {% csrf_token %}
                            </form>
                         </div>
                         {% endif %}
                    </div>
                </div>
                  
                <iframe id="dlframe" style="display:none"></iframe> 
                
                <div class="rating-area">
                    {% if request.user.is_authenticated %}
                        <span>{% trans "Rate this StoryLayer" %}</span>
                        {% user_rating request.user layer "layer" as user_layer_rating %}
                        <div id="user_rating" class="category-layer"></div>
                    {% endif %}
                </div>
                <cite>Uploaded by {{ layer.owner.username }} on {{ layer.date|date:"N j Y" }}</cite>
                <article class="abstract"><label>Abstract:</label> {{ layer.abstract|escape|urlize|linebreaks|safe }}</article>
                <a style="float:right" target="_" href="{% url layer_xml_metadata layer.id %}">ISO-19139 XML</a>
                {% comments_section layer %}

            </div>
        </div>
        <div class="span4">
            {% about_storyteller layer %}

            <section class="box mrg-btm">
                <h2>USING THIS STORYLAYER</h2>
                {% with layer.maps as maps %}
                    {% if maps %}
                        <div class="article-list">
                        {% for m in maps %}
                            {% map_info_tile m left %}
                        {% endfor %}
                        </div>
                    {% else %}
                    <p>No MapStories are using this StoryLayer. Be the first!</p>
                    {% endif %}
                {% endwith %}
                <a class="button orange" href="{% url geonode.maps.views.newmap %}?layer={{layer.typename}}">Create A MapStory</a>
            </section>

            {% include "mapstory/_widget_social.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_body %}
{% if request.user.is_authenticated %}
	{% user_rating_js request.user layer "layer" %}
{% else %}
	<script src="{% static "agon_ratings/js/jquery.raty.js" %}"></script>
{% endif %}
<script type="text/javascript">
$(function() {
    $('span.overall_rating').raty({
        half: true,
        readOnly: true,
        start: $('span.overall_rating').data('rating'),
        path: "{% static "agon_ratings/img/" %}"
    });
});
</script>
<script type="text/javascript" src="{{ STATIC_URL}}bootstrap/js/bootstrap-modal.js"></script>
{% map_view_hitcount_tracker request layer %}
{% endblock %}
