{% extends "page_layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load geonode_auth %}
{% load mapstory_tags %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}

{% block title %}{{map.title}}{% endblock %}


{% block extra_head %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "c606f59c-567f-4e5c-99f9-4095c74151c1", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<link rel="stylesheet" type="text/css" href="{% static "theme/comments.css" %}" media="screen" />
<style type="text/css">
div.timeline-highlight-point-decorator {
    width: 10px;
}
#msmap .x-panel-tbar {
    display: none;
}
</style>
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
<script type="text/javascript" src="{% static "script/comments.js" %}"></script>
<script type="text/javascript" src="{% static "script/favorites.js" %}"></script>
<script type="text/javascript" src="{% static "script/info.js" %}"></script>
{{ block.super }}
<script type="text/javascript">
var headers = {
    'X-CSRFToken' : Ext.util.Cookies.get('csrftoken')
};
Ext.Ajax.defaultHeaders = headers;
{# MONKEY PATCH #}
OpenLayers.Request._monkey_issue = OpenLayers.Request.issue;
OpenLayers.Request.issue = function(config) {
    config.headers = config.headers || {};
    config.headers['X-CSRFToken'] = Ext.util.Cookies.get('csrftoken');
    return this._monkey_issue(config);
};
var app;
Ext.onReady(function() {
{% autoescape off %}
    var config = Ext.apply({{config}}, {
    	portalConfig : {
    		renderTo: 'embedded_map'
    	}
    });
    app = new mapstory.Viewer(config);
{% has_obj_perm user map "maps.change_map_permissions" as can_change_permissions %}
{% if can_change_permissions %}
{% comment %}
//    new GeoNode.PermissionsEditor({
//        levels: {
//            'admin': 'map_admin',
//            'readwrite': 'map_readwrite',
//            'readonly': 'map_readonly',
//            '_none': '_none'
//        },
//        renderTo: "permissions_form",
//        userLookup: "{% url geonode.views.ajax_lookup %}",
//        permissions: {{ permissions_json }},
//        listeners: {
//            updated: function(perms) {
//                var submitTo = "{% url geonode.maps.views.ajax_map_permissions map.id %}";
//                Ext.Ajax.request({ url: submitTo, jsonData: perms.writePermissions() });
//            }
//        }
//    });
{% endcomment %}
{% endif %}
{% endautoescape %}
});

var hasThumb = {% if map.has_thumbnail %}true{% else %}false{% endif %};
var thumbURL = "{% url geonode.maps.views.map_controller map.id %}?thumbnail";
</script>
{% if can_change_permissions %}
<script type="text/javascript" src="{% static "script/thumbnail_help.js" %}"></script>
{% endif %}
{% endblock %}
{% block body_class %}search-mapstories{% endblock body_class %}

{% block main %}
    <div class="row mrg-top">
        <div class="span8">
            <h2 class="icn-mapstories">{{ map.title }}</h2>
        </div>
        <div class="span4 top-detail-actions">
            <a href="{% url geonode.maps.views.view map.id %}" target="_">View this MapStory fullscreen</a>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="box mrg-btm describe-object">
                <div class="story-detail">
                    <div id="embedded_map"></div>
                    <div class="metrics">
                        {% map_view_hitcount map %}
                        {% overall_rating map "map" as map_rating %}
                        <span class="overall_rating" data-rating="{{ map_rating }}"></span>
                    </div>
                    <div class="video-actions tabbable">
                        <ul class="actions-links nav nav-tabs fancyfont">
                            <li><a href="#describemap" class="icn info active" data-toggle="pill">Info</a></li>
                            <li><a href="#actions2" class="icn layers" data-toggle="pill">Layers</a></li>
<!--                            <a href="#" class="icn favorites">Add to Favorites</a>-->
                            <li><a href="#actions3" class="icn share" data-toggle="pill">Share</a></li>
                            <li><a href="#actions4" class="icn flag" data-toggle="pill">Flag</a></li>
                            <li><a href="#actions5" class="icn add" data-toggle="pill">Add</a></li>
                        </ul>
                        
                    </div>
                    <div class="video-actions tab-content">
                        <div class="tab-pane" id="describemap">
                            {% has_obj_perm user map "maps.change_map" as can_change %}
                            {% if can_change %}
                            <form id="info-form" method="POST" action="{% url geonode.maps.views.map_controller map.id %}?describe">
                            <label>Title:</label>
                            <input name="map-title" type="text" value="{{map.title}}">
                            <label>Author:</label>
                            <p>{{map.owner}}</p>
                            <label>Keywords:</label>
                            <textarea name="map-keywords">{{map.keyword_list|join:" "}}</textarea>
                            <label>Abstract:</label>
                            <textarea name="map-abstract">{{map.abstract}}</textarea>
                            <div>
                                <button class="btn" id="submit">Update Information</button>
                            </div>
                            {% csrf_token %}
                            </form>
                            <hr/>
                            {% topic_selection map %}
                            <hr/>
                            <p>Generate a thumbnail for this map</p>
                            <a id="set_thumbnail" class="btn" href="#thumbnail">{% trans "Set thumbnail" %}</a>
                            <hr/>
                            {% publish_status map %}
                            {% else %}
                            <label>Title:</label>
                            <p>{{ map.title }}</p>
                            <label>Author:</label>
                            <p>{{map.owner}}</p>
                            <label>Keywords:</label>
                            <p>{{map.keyword_list|join:" "}}</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="actions2">
                            <p>{% trans "This map uses the following layers" %} </p>
                            <ul>
                                {% for layer in layers %}
                                {% if not layer.group == "background" %}
                                <li>{% autoescape off %}{{layer.local_link}}{% endautoescape %}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-pane" id="actions3">
                            <span class='st_facebook_vcount' displayText='Facebook'></span>
                            <span class='st_twitter_vcount' displayText='Tweet'></span>
                            <span class='st_linkedin_vcount' displayText='LinkedIn'></span>
                            <span class='st_googleplus_vcount' displayText='Google +'></span>
                            <span class='st_pinterest_vcount' displayText='Pinterest'></span>
                            <span class='st_email_vcount' displayText='Email'></span>
                            <p>Embed this map:</p>
                            <textarea><iframe style="border: none;" height="400" width="600" src="http://{{ request.get_host }}{% url geonode.maps.views.embed map.id %}"></iframe></textarea>
                        </div>
                        <div class="tab-pane" id="actions4">
                            Flag not implemented yet
                        </div>
                        <div class="tab-pane" id="actions5">
                            {% if user.is_authenticated %}
                            {% add_to_favorites map %}
                            {% else %}
                            <p>Login to add to your favorites list.</p>
                            {% endif %}
                        </div>
                    </div>
                        {% if request.user.is_authenticated %}
                        <div class="rating-area">
                            <span>{% trans "Rate this MapStory" %}</span>
                            {% user_rating request.user map "map" as user_map_rating %}
                            <div id="user_rating" class="category-map"></div>
                        </div>
                        {% endif %}
                    <cite>Uploaded by {{ map.owner.username }} on {{ map.last_modified|date:"N j Y" }}</cite>
                    {% warn_status request map %}
                    <article class="abstract"><label>Abstract:</label>{{ map.abstract|escape|urlize|linebreaks|safe }}</article>
                </div>
                {% comments_section map %}

            </div>
        </div>
        <div class="span4">
            {% about_storyteller map %}

            {% by_storyteller map %}

            {% related_mapstories map %}

            {% include "mapstory/_widget_social.html" %}

        </div>
    </div>
{% endblock %}

{% block extra_body %}
{% if request.user.is_authenticated %}
	{% user_rating_js request.user map "map" %}
{% else %}
	<script src="{% static "agon_ratings/js/jquery.raty.js" %}"></script>
{% endif %}
<script type="text/javascript">
$(function() {
    $('span.overall_rating').raty({
        half: true,
        readOnly: true,
        start: $('span.overall_rating').data('rating'),
        path: "{% static "agon_ratings/img/" %}"
    });
});
</script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap-modal.js" %}"></script>
<script type="text/javascript" src="{% static "script/paginate.js" %}"></script>
{% map_view_hitcount_tracker request map %}
{% endblock %}
