{% extends "page_layout.html" %}
{% load i18n %}
{% load geonode_auth %}
{% load mapstory_tags %}

{% has_obj_perm user map "maps.change_map_permissions" as can_change_permissions %}

{% block extra_head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "geonode/geo_header.html" %}
{{ block.super }}
<script type="text/javascript">
var app;
Ext.onReady(function() {
{% autoescape off %}
    app = new mapstory.Viewer({{config}});
{% if can_change_permissions %}
    new GeoNode.PermissionsEditor({
        levels: {
            'admin': 'map_admin',
            'readwrite': 'map_readwrite',
            'readonly': 'map_readonly',
            '_none': '_none'
        },
        renderTo: "permissions_form",
        userLookup: "{% url geonode.views.ajax_lookup %}",
        permissions: {{ permissions_json }},
        listeners: {
            updated: function(perms) {
                var submitTo = "{% url geonode.maps.views.ajax_map_permissions map.id %}";
                Ext.Ajax.request({ url: submitTo, jsonData: perms.writePermissions() });
            }
        }
    });
    var hasThumb = {% if map.get_thumbnail %}true{% else %}false{% endif %};
    var thumbURL = "{% url geonode.maps.views.map_controller map.id %}?thumbnail";
    {% include "maps/thumbnail_help.js" %}
{% endif %}
{% endautoescape %}
});
</script>
{% endblock %}
{% block body_class %}search-mapstories{% endblock body_class %}

{% block main %}
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a> <span class="divider">&gt;</span>
                </li>
                <li>
                <a href="#">Search MapStory</a> <span class="divider">&gt;</span>
                </li>
                <li class="active">
                    <a href="#">MapStory Page</a>
                </li>
            </ul>
        </div>
        <div class="span8">
            <h2 class="icn-mapstories">{{ map.title }}</h2>
        </div>
        <div class="span4">
            <a href="#" class="back">Back to MapStory Search</a>
        </div>
        <div class="span8">
            <div class="box mrg-btm">
                <div class="story-detail">
                    <div id="embedded_map"></div>

                    <div class="video-actions tabbable">
                        <ul class="actions-links nav nav-tabs fancyfont">
                            <li><a href="#describemap" class="icn info" data-toggle="pill">Info</a></li>
                            <li><a href="#actions2" class="icn layers" data-toggle="pill">Layers</a></li>
<!--                            <a href="#" class="icn favorites">Add to Favorites</a>-->
                            <li><a href="#actions3" class="icn share" data-toggle="pill">Share</a></li>
                            <li><a href="#actions4" class="icn flag" data-toggle="pill">Flag</a></li>
                            <li><a href="#actions5" class="icn add" data-toggle="pill">Add</a></li>
                        </ul>
                        <div class="metrics">
                            <span class="views"><i>1,205</i> Views</span>
                            <span class="rating">3 stars</span>
                        </div>
                    </div>
                    <div class="video-actions tab-content">
                        <div class="tab-pane active" id="describemap">
                            {% has_obj_perm user map "maps.change_map" as can_change %}
                            {% if can_change %}
                            <form id="info-form" method="POST" action="{% url geonode.maps.views.map_controller map.id %}?describe">
                            <label>Title:</label>
                            <input name="map-title" type="text" value="{{map.title}}">
                            <label>Author:</label>
                            <p>{{map.owner}}</p>
                            <label>Keywords:</label>
                            <textarea name="map-keywords">{{map.keywords}}</textarea>
                            <label>Abstract:</label>
                            <textarea name="map-abstract">{{map.abstract}}</textarea>
                            <div>
                                <button>Update Information</button>
                            </div>
                            {% csrf_token %}
                            </form>
                            <script type="text/javascript">
                                $(function() {
                                    $("#describemap button").click(function(ev) {
                                        ev.preventDefault();
                                        var form = $(this).closest('form');
                                        $.post(
                                            form.attr('action'),
                                            form.serialize(),
                                            function() {
                                                alert('updated');
                                            }
                                        );
                                    });
                                })
                            </script>
                            {% else %}
                            <label>Title:</label>
                            <p>{{ map.title }}</p>
                            <label>Author:</label>
                            <p>{{map.owner}}</p>
                            <label>Keywords:</label>
                            <p>{{map.keywords}}</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="actions2">
                            <p>{% trans "This map uses the following layers" %} </p>
                            <ul>
                                {% for layer in layers %}
                                {% if not layer.group == "background" %}
                                <li>{% autoescape off %}{{layer.local_link}}{% endautoescape %}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-pane" id="actions3">
                            <p>Embed this map:<p>
                            <textarea><iframe style="border: none;" height="400" width="600" src="{{ req.META.SERVER_NAME %}{% url geonode.maps.views.embed map.id %}"></iframe></textarea>
                        </div>
                        <div class="tab-pane" id="actions4">
                            Flag not implemented yet
                        </div>
                        <div class="tab-pane" id="actions5">
                            Add to what?
                        </div>
                    </div>

                    <article class="abstract"><p>Abstract: {{ map.abstract }}</p></article>
                    <cite>Uploaded by {{ map.owner.username }} on {{ map.last_modified|date:"N j Y" }}</cite>
                </div>
                {% include "mapstory/_comments.html" %}

            </div>
        </div>
        <div class="span4">
            {% about_storyteller map %}

            {% include "maps/_widget_by_storyteller.html" %}

            <section class="box mrg-btm">
                <h2>RELATED MAPSTORIES</h2>
                {% include "mapstory/_mapstory_list_side.html" %}
            </section>

            {% include "mapstory/_widget_social.html" %}

        </div>
    </div>
{% endblock %}
