{% load staticfiles %}
<div id="login-form-pop">
    <div class="drop-pointer"></div>
    <form action="{% url geonode.views.ajax_login %}" method="POST" class="clearfix">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input name="username" type="text" />
        <label for="password">Password:</label>
        <input name="password" type="password" />
        <div></div>
        {% comment %}
        <label for="remember" class="checkbox">
            <input name="remember" type="checkbox" />
            Remember me
        </label>
        {% endcomment %}
        <p class="loginmsg alert"></p>
        <a href="{% url django.contrib.auth.views.password_reset %}">Forgot Password?</a>
        <button type="submit" class="btn">Sign In</button>
        {# <p>Don't have an account yet? <a href="#">Register now</a></p> #}
        {% if ENABLE_SOCIAL_LOGIN %}
        <br/><a href="{% url socialauth_begin 'twitter' %}"><img src="{% static 'img/login_tw.png' %}" border=0></a>
        <br/><a href="{% url socialauth_begin 'facebook' %}"><img src="{% static 'img/login_fb.png' %}" border=0></a>
        <br/><a href="{% url socialauth_begin 'google-oauth2' %}"><img src="{% static 'img/login_goog.png' %}" border=0></a>
        {% endif %}
    </form>
</div>
