{% load avatar_tags %}

<h2>THINKERS AND THOUGHTS ON MAPSTORYTELLING</h2>
{% comment %}
{% for u in users %}
<div class="storyteller">
    <a href="{{ u.get_absolute_url }}">
        {% avatar u %}
    </a>
    <h4><a href="{% url about_storyteller u %}">{% firstof u.get_full_name u.username %}</a></h4>
    <p>{{ u.organization }}</p>
</div>
{% endfor %}
{% endcomment %}
<div class="storyteller">
    <a href="{% url thoughts-jm %}">
        <img src="/static/img/jm.jpg">
    </a>
    <h4><a href="{% url thoughts-jm %}">Jonathan Marino</a></h4>
    <p>Mapstorytelling and the Learning Revolution</p>
</div>
<div class="storyteller">
    <a href="{% url thoughts-pk %}">
        <img src="/static/img/pk.jpg">
    </a>
    <h4><a href="{% url thoughts-pk %}">Parag Khanna</a></h4>
    <p>GeoStrategy and the Four C’s of MapStorytelling</p>
</div>
<div class="storyteller">
    <a href="{% url thoughts-rb %}">
        <img src="/static/img/rb.jpg">
    </a>
    <h4><a href="{% url thoughts-rb %}">Professor Roberta Balstad</a></h4>
    <p>Understanding Frontiers through MapStorytelling</p>
</div>
<div class="storyteller">
    <a href="{% url thoughts-sk %}">
        <img src="/static/img/sk.jpg">
    </a>
    <h4><a href="{% url thoughts-sk %}">Dr. R. Siva Kumar</a></h4>
    <p>Mapping the Stories of a Nation</p>
</div>
