{% load avatar_tags %}

<h2>THINKERS AND THOUGHTS ON MAPSTORYTELLING</h2>
<div class="scroll-container">
<div class="storyteller ">
    <a href="{% url thoughts-jz %}">
        <img src="/static/img/jz.jpg">
    </a>
    <div>
        <h4><a href="{% url thoughts-jz %}">Jen Ziemke</a></h4>
        <p>Beyond Pushpin Mapping: The Power of Crisis MapStorytelling</p>
    </div>
</div>
<div class="storyteller ">
    <a href="{% url thoughts-pk %}">
        <img src="/static/img/pk.jpg">
    </a>
    <div>
        <h4><a href="{% url thoughts-pk %}">Parag Khanna</a></h4>
        <p>GeoStrategy and the Four C’s of MapStorytelling</p>
    </div>
</div>
<div class="storyteller ">
    <a href="{% url thoughts-jg %}">
        <img src="/static/img/jg.jpg">
    </a>
    <div>
        <h4><a href="{% url thoughts-jg %}">Jamie Gahlon</a></h4>
        <p>Mapping a New Story of Play Development in America</p>
    </div>
</div>
<div class="storyteller ">
    <a href="{% url thoughts-rt %}">
        <img src="/static/img/rt.jpg">
    </a>
    <div>
        <h4><a href="{% url thoughts-rt %}">Robert Tomes</a></h4>
        <p>MapStories and Moving from Visualization to Decision</p>
    </div>
</div>
<div class="storyteller ">
    <a href="{% url thoughts-jm %}">
        <img src="/static/img/jm.jpg">
    </a>
    <div>
        <h4><a href="{% url thoughts-jm %}">Jonathan Marino</a></h4>
        <p>Mapstorytelling and the Learning Revolution</p>
    </div>
</div>
<div class="storyteller ">
    <a href="{% url thoughts-rb %}">
        <img src="/static/img/rb.jpg">
    </a>
    <div>
        <h4><a href="{% url thoughts-rb %}">Professor Roberta Balstad</a></h4>
        <p>Understanding Frontiers through MapStorytelling</p>
    </div>
</div>
<div class="storyteller ">
    <a href="{% url thoughts-sk %}">
        <img src="/static/img/sk.jpg">
    </a>
    <div>
        <h4><a href="{% url thoughts-sk %}">Dr. R. Siva Kumar</a></h4>
        <p>Mapping the Stories of a Nation</p>
    </div>
</div>
</div>