{% load i18n %}
{% load mapstory_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>{% block title %}MapStory{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "theme/img/favicon.ico" %}"/>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "theme/geonode.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "theme/site.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "theme/ext-theme.css" %}" />
    <style type="text/css">
#header .wrap {
    width: 100%;
}
#login-area a {
    display: inline;
}
#login-link {
}
#login-area {
    color: white;
    padding-right: 1em;
    position: static;
}
#login-area {
    width: 20em;
}
    </style>
    <script type="text/javascript" src="{% url jscat %}"></script>
    <script type="text/javascript" src="{% url lang %}"></script>
    <script type="text/javascript">
{# hitcount library uses jquery, but core.js is not loaded for this page, so... #}
$(document).ajaxSend(function(event, xhr, settings) {
    xhr.setRequestHeader("X-CSRFToken", Ext.util.Cookies.get('csrftoken')); 
});
$(function() {
    {# some good old workarounds #}
    $("#login-form-pop form").addClass('selfclear').parent().css('position','fixed');

    $('#login-link').click(function(e) {
        e.preventDefault();
        var href = $(this).attr('href');
        if (href[0] == '/') {
            $.post(href,{},function(d,s,x) {
                window.location.reload();
            })
        } else {
            $(href).toggle();
        }
    });
    $("#login-form-pop button").click(function(e) {
        var form = $("#login-form-pop form");
        e.preventDefault();
        {# timeline comes with it's on jquery library embedded ATM, use older pre-1.5 ajax #}
        $.ajax({
            url : form.attr('action'),
            type : 'POST',
            data : form.serialize(),
            success: function(data,status,xhr) {
                $('.loginmsg').hide();
                if (status == 'success') {
                    $('#login-area a').replaceWith('<span id="login-link">Signed in</span>');
                } else {
                    alert(data);
                }
                $("#login-form-pop").toggle();
            },
            error: function(data,status,xhr) {
                if (status == 'error') {
                    $('.loginmsg').text('Invalid login').slideDown();
                }
            }
        })
    })
})
    </script>
    {% map_view_hitcount_tracker request map %}
    {% endblock %}
</head>
<body>
    {% block body %} 
    <div id="header">
      <div class="wrap selfclear">
        <a id="logo" href="{% url home %}">MapStory</a>
        <div id="login-area">
          {% if user.is_authenticated %}
          <a id="login-link" href="{% url auth_logout %}">{% trans "Log out" %}</a>
          <div class="user"><a href="{% url about_storyteller user.username %}">Welcome {{ user.username }}</a></div>
          {% else %}
          <!-- this should be updated to a url var --><a id="login-link" href="#login-form-pop">{% trans "Sign in" %}</a>
          <div class="user">
          {% if REGISTRATION_OPEN %} {% trans "or" %} <a href="{% url registration_register %}">{% trans "Register" %}</a>{% endif %}
          </div>
          {% endif %}
        </div>
        {% include "_login_form.html" %}
      </div><!-- /.wrap -->
    </div><!-- /#header -->
    {% endblock %}
</body>
</html>
