{% extends "page_layout.html" %}
{% load webdesign %}
{% load i18n %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}
{% block body_class %}home{% endblock %}

{% block extra_head %}
<link href='http://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
{% include "geonode/ext_header.html" %}
<link href="{{ STATIC_URL }}theme/movingboxes.css" media="screen" rel="stylesheet">
<!--[if lt IE 9]>
<link href="{{ STATIC_URL }}theme/movingboxes-ie.css" rel="stylesheet" media="screen" />
<![endif]-->
{% endblock %}

{% block main %}
<div class="row">
    <div id="alerts" class="span12 medgraybg selfclear fancyfont" style="color:white;">
        <div class="hvygraybg get-alerts"><a style="color:white" href="{% url alerts %}">GET ALERTS</a></div>
        <div style="float:left; padding: 0.8em 1em;">
            <span class="fancyfont">ALERT :</span>
            <span class="content">Disaster in Japan - {% lorem 15 w %}</span>
        </div>
    </div>
    <div class="span12 lightgraybg">
        <div id="slider">
        {% if page.design_mode %}
            <div class="tile">
                <a href="#"><img src="http://mapstory.dev.opengeo.org/thumbs/map73.png" alt="" /></a>
                <div class="info">
                    <div class="title">Nuclear Tests and Detonations</div>
                    <div>
                        <span>
                            <a href="#">asu1</a>
                            <span>on Mar 14 2012</span>
                        </span>
                    </div>
                    <footer>
                        <span class="views">1,205 Views</span>
                        <span class="rating">3 stars</span>
                    </footer>
                </div>
            </div>
            <div class="tile">
                <a href="#"><img src="http://mapstory.dev.opengeo.org/thumbs/map73.png" alt="" /></a>
                <div class="info">
                    <div class="title">Nuclear Tests and Detonations</div>
                    <div>
                        <span>
                            <a href="#">asu1</a>
                            <span>on Mar 14 2012</span>
                        </span>
                    </div>
                    <footer>
                        <span class="views">1,205 Views</span>
                        <span class="rating">3 stars</span>
                    </footer>
                </div>
            </div>
            <div class="tile">
                <a href="#"><img src="http://mapstory.dev.opengeo.org/thumbs/map73.png" alt="" /></a>
                <div class="info">
                    <div class="title">Nuclear Tests and Detonations</div>
                    <div>
                        <span>
                            <a href="#">asu1</a>
                            <span>on Mar 14 2012</span>
                        </span>
                    </div>
                    <footer>
                        <span class="views">1,205 Views</span>
                        <span class="rating">3 stars</span>
                    </footer>
                </div>
            </div>
            <div class="tile">
                <a href="#"><img src="http://mapstory.dev.opengeo.org/thumbs/map73.png" alt="" /></a>
                <div class="info">
                    <div class="title">Nuclear Tests and Detonations</div>
                    <div>
                        <span>
                            <a href="#">asu1</a>
                            <span>on Mar 14 2012</span>
                        </span>
                    </div>
                    <footer>
                        <span class="views">1,205 Views</span>
                        <span class="rating">3 stars</span>
                    </footer>
                </div>
            </div>
        {% else %}
        {{ tiles|safe }}
        {% endif %}
        </div>
    </div>
    <div class="span12" id="activities">
        <ul class="selfclear">
            <li>
                <div class="icn-storylayers">StoryLayers</div>
                <a class="search" href="{% url search_layers %}">SEARCH STORYLAYERS</a>
                <a class="action" href="{% url data_upload %}">UPLOAD STORYLAYERS</a>
            </li>
            <li>
                <div class="icn-mapstories">MapStories</div>
                <a class="search" href="{% url search_maps %}">SEARCH MAPSTORIES</a>
                <a class="action" href="{% url map_new %}">CREATE A MAPSTORY</a>
            </li>
            <li>
                <div class="icn-storytellers">MapStoryTellers</div>
                <a class="search noi" href="">SEARCH STORYTELLERS</a>
                <a class="action noi" href="">SIGN UP</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
<div class="span8">
    <div class="box mrg-btm">
    <div id="featuredvideo" class="selfclear">
        <h2>{{ video.title }}</h2>
        <div style="float:left;margin-right: 1em">
            <iframe class="youtube-player" type="text/html" width="217" height="128" src="{{ video.href }}" frameborder="0"></iframe>
        </div>
        <div class="description">
            <h3><a href="#">{{ video.name }}</a></h3>
            <p>{{ video.text}} <a href="#"><img src="{{ STATIC_URL }}theme/img/arrow_right.png" width="6" height="11" alt="" /></a></p>
        </div>
    </div>
    <hr/>
    <div id="sections" class="selfclear tabs-left">
        <h2>SECTIONS</h2>

        <ul class="nav nav-tabs">
          {% if page.design_mode %}
          <li class="active"><a href="#section1" data-toggle="tab">Crisis</a></li>
          <li><a href="#section2" data-toggle="tab">GeoPolitics</a></li>
          <li><a href="#section3" data-toggle="tab">Kids</a></li>
          <li><a href="#section4" data-toggle="tab">Nature &amp; Environment</a></li>
          <li><a href="#section5" data-toggle="tab">Science</a></li>
          <li><a href="#section6" data-toggle="tab">Arts &amp; Culture</a></li>
          <li><a href="#section7" data-toggle="tab">Technology</a></li>
          <li><a href="#section8" data-toggle="tab">Finance &amp; Industry</a></li>
          <li><a href="#section9" data-toggle="tab">Health</a></li>
          <li><a href="#section10" data-toggle="tab">Religion &amp; Myth</a></li>
          <li><a href="#section11" data-toggle="tab">Biography</a></li>
          {% else %}
            {% for sec in page.sections %}
            <li {% if forloop.first %} class="active"{% endif %}>
                <a href="#section{{ forloop.counter }}" data-toggle="tab">{{ sec }}</a>
            </li>
            {% endfor %}
          {% endif %}
        </ul>

        <div class="tab-content">
          {% if page.design_mode %}
          <div class="tab-pane active" id="section1">
            <article>
                <a href="#">
                    <img src="{{ STATIC_URL }}theme/img/img_95x65.png" alt="" class="left" />
                </a>
                <div class="article-content">
                    <header>
                        <h3><a href="#">Lorem ipsum dolor sit amet, cosectetur
                        sedour adipiscing elit sed do eiusmod.</a></h3>
                    </header>
                    <div class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        nostrud exercitation ullamco laboris nisi ut aliquip...
                    </div>
                    <footer>
                        <span class="views">1,205 Views</span>
                        <span class="rating">3 stars</span>
                    </footer>
                </div>
            </article>
            <article>
                <a href="#">
                    <img src="{{ STATIC_URL }}theme/img/img_95x65.png" alt="" class="left" />
                </a>
                <div class="article-content">
                    <header>
                        <h3><a href="#">Lorem ipsum dolor sit amet, cosectetur
                        sedour adipiscing elit sed do eiusmod.</a></h3>
                    </header>
                    <div class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        nostrud exercitation ullamco laboris nisi ut aliquip...
                    </div>
                    <footer>
                        <span class="views">1,205 Views</span>
                        <span class="rating">3 stars</span>
                    </footer>
                </div>
            </article>
            <article>
                <a href="#">
                    <img src="{{ STATIC_URL }}theme/img/img_95x65.png" alt="" class="left" />
                </a>
                <div class="article-content">
                    <header>
                        <h3><a href="#">Lorem ipsum dolor sit amet, cosectetur
                        sedour adipiscing elit sed do eiusmod.</a></h3>
                    </header>
                    <div class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        nostrud exercitation ullamco laboris nisi ut aliquip...
                    </div>
                    <footer>
                        <span class="views">1,205 Views</span>
                        <span class="rating">3 stars</span>
                    </footer>
                </div>
            </article>
          </div>
          <div class="tab-pane" id="section2">section 2 content</div>
          <div class="tab-pane" id="section3">section 3 content</div>
          {% else %}
                {% for sec in page.sections %}
                <div class="tab-pane {% if forloop.first %} class="active"{% endif %}" id="section{{ forloop.counter }}">
                    {% for m in sec.maps.all %}
                        <article>
                            <img alt="{{ m.title }}" src="{{ m.get_thumbnail_url }}" class="left section_thumb"></img>
                            <div class="article-content">
                                <header>
                                    <h3><a href="{{ m.get_absolute_url }}">{{ m.title }}</a></h3>
                                </header>
                                <div class="summary">{{ m.abstract }}</div>
                                <footer>
                                    <span class="views">1,205 Views</span>
                                    <span class="rating">3 stars</span>
                                </footer>
                            </div>
                        </article>
                    {% endfor %}
                </div>
                {% endfor %}
          {% endif %}
        </div>
        {% comment %}
            end static tabs
        {% endcomment %}
        </div>
    </div>
</div>
<div class="span4">
    <div class="box mrg-btm">
        <h2>THINKERS AND THOUGHTS ON
    MAPSTORYTELLING</h2>
        <div class="storyteller">
            <a href="{% url storyteller %}">
                <img src="http://www.gravatar.com/avatar/b59a1fea77f9350c8225395f55204abe?r=pg&s=70">
            </a>
            <h4><a href="{% url storyteller %}">Ian Schneider</a></h4>
            <p>Af/Pak Tribal Dynamics,
    1805-2010
    </p>
        </div>
        <div class="storyteller">
            <a href="{% url storyteller %}">
                <img src="http://www.gravatar.com/avatar/a6a965150162eef63f1d2f8aae15c57c?r=pg&s=70">
            </a>
            <h4><a href="{% url storyteller %}">Bart van den Eijnden</a></h4>
            <p>Sources of State Failure in Horn
    of Africa, 1965-2010
    </p>
        </div>
        <div class="storyteller last">
            <a href="{% url storyteller %}">
                <img src="http://www.gravatar.com/avatar/c0c61fb94a5785be367b0fceea6985f1?r=pg&s=70">
            </a>
            <h4><a href="{% url storyteller %}">Matt Priour</a></h4>
            <p>Rise and Fall of Meso-American
     Civilizations</p>
        </div>
    </div>
    {% include "mapstory/_widget_social.html" %}
    <div class="box mrg-btm">
        <h2>TELL YOUR STORY</h2>
        <p>If you have a story to tell... Tell it on MapStory.</p>
        <p class="center"><a href="#" class="button orange">CREATE A MAPSTORY</a></p>
    </div>
</div>
</div>
{% endblock %}

{% block extra_body %}
    <script src="{{ STATIC_URL }}script/jquery.movingboxes.min.js"></script>
    <script src="{{ STATIC_URL }}script/jquery.easing.1.2.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}script/slideshow.js"></script>
{% endblock %}
