{% extends "page_layout.html" %}
{% load webdesign %}
{% load i18n %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}
{% block indexclass %} class="here" {% endblock %}

{% block head %} 
{% include "geonode/ext_header.html" %}
{{ block.super }}
<script type="text/javascript">
function runCarousel() {
    var tiles = Ext.select('#carousel .tile'),
        carousel = Ext.get('carousel'),
        twidth = 256,
        margin = (carousel.getWidth() - (3 * twidth)) / 4,
        positions = [margin, (2 * margin) + twidth, (3 * margin) + (2 * twidth)],
        idx = 0, timeout = 5000;
    tiles.setVisibilityMode(Ext.Element.DISPLAY);
    if (tiles.getCount() == 0) return;
    // reselect after stripping any bad images
    tiles = Ext.select('#carousel .tile');
    function tile(off) {
        var tidx = idx + off;
        if (off < 0) tidx += tiles.getCount();
        return tidx % tiles.getCount();
    }
    function align(right) {
        tiles.setLeft( right ? carousel.getWidth() : -twidth);
        for (var i = 0; i < 3; i++ ) {
            tiles.item( tile(i) ).setLeft(positions[i]);
        }
    }
    align(true);
    function go(left) {
        var lidx = left ? idx : tile(2);
        tiles.item(lidx).shift({x: left ? -twidth: carousel.getWidth() + twidth, callback: function() {
            tiles.item(lidx).setLeft(left ? carousel.getRight() : -twidth);
        }});
        idx = tile( left ? 1: -1);
        for (var i = 0; i < 3; i++) {
            var p = positions[i] + carousel.getLeft();
            tiles.item( tile(i) ).shift({x: p});
        };
    };
    
    var handle = window.setInterval(function() {go(true)}, timeout);
    var arrows = carousel.select('.arrow');
    arrows.item(0).on('click',function() {
       window.clearInterval(handle);
       align(true)
       go(true);
    });
    arrows.item(1).on('click',function() {
       window.clearInterval(handle);
       align(false)
       go(false);
    });
    window.tile= tile;
}    
 
Ext.onReady(function(){
{% autoescape off %}
Ext.Ajax.request({
   url: "{% url map_tiles %}",
   success: function(xhrLike) {
       var carousel = Ext.get('carousel');
       carousel.dom.innerHTML = carousel.dom.innerHTML + xhrLike.responseText;
       runCarousel();
   }
});
Ext.select('.noi').on('click',function(ev) {
    alert('Not Implemented');
    ev.stopEvent(); 
});
{% endautoescape %}
});
</script>
<style type="text/css">
    #activities {
        margin-bottom: 1em;
        padding-left: 20px;
    }
    #activities ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    #activities ul li {
        float: left;
        width: 320px;
        padding: 1em 0;
        margin: 0;
    }
    #activities .padtop {
        padding-top: 6px;
    }
    #activities div {
        font-size:28px;
        color: #9E2F1E;
        padding-bottom: .5em;
        height: 42px;
    }
    #activities div img {
        vertical-align: bottom;
        padding-right: .5em;
    }
    #activities .search {
        background: #9E2F1E;
    }
    #activities .action {
        background: #5B2D14;        
        margin-left: 1em;
    }
    #activities a {
        color: white;
        font-size: 16px;
        padding: 8px;        
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    #carousel {
        position: relative;
    }
    #carousel .tile {
        position: absolute;
    }
    #carousel .arrow {
        cursor: pointer;
        font-family: serif;
        color: #8B8F7F;
        top: 30%;
        font-size: 32px;
        font-weight: bold;
        position: absolute;
    }
    .storyteller img {
        float:left;
        margin-right: 1em;
    }
    .storyteller {
        padding: 1em;
        border-bottom: 1px solid #999;
    }
    .storyteller h4 {
        color: #F46817;
        margin-top: .5em;
        margin-bottom: 0;
    }
</style>
{% endblock %}

{% block main %} 
    <div id="alerts" class="medgraybg selfclear fancyfont" style="color:white;">
        <div class="hvygraybg" style="float:right;padding: 1em;font-size:larger"><a style="color:white" href="{% url alerts %}">GET ALERTS &gt;</a></div>
        <div style="float:left; padding: 1em;">
            <span style="font-size: larger">ALERT :</span>
            <span style="font-family: sans">Disaster in Japan - {% lorem 15 w %}</span>
        </div>
    </div>
    <div id="carousel" class="lightgraybg">
        <div class="arrow" style="left:15px">&#8826;</div>
        <div class="arrow" style="right:15px">&#8827;</div>
    </div>
    <div id="activities">
        <ul class="selfclear">
            <li>
                <div>
                    <img class="padtop" src="{{ STATIC_URL}}theme/img/storylayers.png"></img>STORYLAYERS
                </div>
                <a class="search" href="{% url search %}">SEARCH LAYERS</a>
                <a class="action" href="{% url data_upload %}">UPLOAD LAYERS</a>
            </li>
            <li>
                <div>
                    <img class="padtop" src="{{ STATIC_URL}}theme/img/mapstories.png"></img>MAPSTORIES
                </div>
                <a class="search" href="{% url search_maps %}">SEARCH STORIES</a>
                <a class="action" href="{% url map_new %}">CREATE A MAPSTORY</a>
            </li>
            <li>
                <div>
                    <img src="{{ STATIC_URL}}theme/img/storyteller.png"></img>MAPSTORYTELLERS
                </div>
                <a class="search noi" href="">SEARCH STORYTELLERS</a>
                <a class="action noi" href="">SIGN UP</a>
            </li>
        </ul>
    </div>
<div class="twocol">
    <div id="featuredvideo" class="selfclear">
        <h2>{{ video_title }}</h2>
        <div style="float:left;margin-right: 1em">
            <iframe class="youtube-player" type="text/html" width="217" height="128" src="http://www.youtube.com/embed/{{video_id}}" frameborder="0"></iframe>
        </div>
        <div>
            <h3>{% lorem 10 w %}</h3>
            <p>{% lorem 35 w %}</p>
        </div>
    </div>
    <hr/>
    <div id="sections" class="selfclear">
        <h2>SECTIONS</h2>
        <div style="float:left">
            <ul>
                {% for sec in sections %}
                <li>{{ sec }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="threecol">
    <h2>THINKERS AND THOUGHTS ON
MAPSTORYTELLING</h2>
    <div class="storyteller">
        <img src="http://www.gravatar.com/avatar/b59a1fea77f9350c8225395f55204abe?r=pg&s=50">
        <h4>Ian Schneider</h4>
        <p>Af/Pak Tribal Dynamics,
1805-2010
</p>
    </div>
    <div class="storyteller">
        <img src="http://www.gravatar.com/avatar/a6a965150162eef63f1d2f8aae15c57c?r=pg&s=50">
        <h4>Bart van den Eijnden</h4>
        <p>Sources of State Failure in Horn
of Africa, 1965-2010
</p>
    </div>
    <div class="storyteller">
        <img src="http://www.gravatar.com/avatar/c0c61fb94a5785be367b0fceea6985f1?r=pg&s=50">
        <h4>Matt Priour</h4>
        <p>Rise and Fall of Meso-American
 Civilizations</p>
    </div>
</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
