{% extends "page_layout.html" %}
{% load webdesign %}
{% load i18n %}
{% load mapstory_tags %}
{% load staticfiles %}
{% load cache %}

{% block title %}{% trans "Welcome!" %}{% endblock %}
{% block body_class %}home{% endblock %}

{% block extra_head %}
{% endblock %}

{% block main %}
<div class="row">
    {% comment %}
    <div id="alerts" class="span12 medgraybg selfclear fancyfont" style="color:white;">
        <div class="hvygraybg get-alerts"><a style="color:white" href="{% url alerts %}">GET ALERTS</a></div>
        <div style="float:left; padding: 0.8em 1em;">
            <span class="fancyfont">ALERT :</span>
            <span class="content">Disaster in Japan - {% lorem 15 w %}</span>
        </div>
    </div>
    {% endcomment %}
    <div id="carousel" class="span12 lightgraybg">
        <div class="arrow arrow-left" style="left:15px">&#8826;</div>
        <div class="arrow arrow-right" style="right:15px">&#8827;</div>
        {% cache cache_time carousel_tiles %}
        {{ tiles.value|safe }}
        {% endcache %}
    </div>
    <div class="span12" id="activities">
        <ul class="selfclear">
            <li>
                <div class="icn-storylayers">StoryLayers</div>
                <a class="search" href="{% url search_layers %}">SEARCH STORYLAYERS</a>
                <a class="action" href="{% url data_upload %}">UPLOAD STORYLAYERS</a>
            </li>
            <li>
                <div class="icn-mapstories">MapStories</div>
                <a class="search" href="{% url search_maps %}">SEARCH MAPSTORIES</a>
                <a class="action" href="{% url maps_new %}">CREATE A MAPSTORY</a>
            </li>
            <li>
                <div class="icn-storytellers">MapStoryTellers</div>
                <a class="search" href="{% url search_owners %}">SEARCH STORYTELLERS</a>
                <a class="action noi" href="">SIGN UP</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
<div class="span8">
    <div class="box mrg-btm">
        <div id="featuredvideo" class="clearfix">
            <div style="float:left;margin-right: 1em">
                <iframe class="youtube-player" type="text/html" width="217" height="128" src="{{ video.href }}" frameborder="0"></iframe>
            </div>
            <div class="description">
                <h2><a href="#">{{ video.name }}</a></h2>
                <p>{{ video.text}} {#<a href="#"><img src="{% static "theme/img/arrow_right.png" %}" width="6" height="11" alt="" /></a>#}</p>
            </div>
        </div>
        <hr/>
        <div id="sections" class="selfclear tabs-left">
            <h2>SECTIONS</h2>

            <ul class="nav nav-tabs">
                {% for sec in page.sections.value %}
                <li {% if forloop.first %} class="active"{% endif %}>
                    <a href="#section{{ forloop.counter }}" data-toggle="tab">{{ sec.name }}</a>
                </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for sec in page.sections.value %}
                <div class="tab-pane {% if forloop.first %}active{% endif %}" id="section{{ forloop.counter }}">
                     <div class="paginate paginate-auto" data-page-select="article">
                        <section class="paginate-contents">
                        </section>
                        {% pagination sec.maps_pager 'section_tiles' sec.slug %}
                     </div>
                </div>
                {% endfor %}
            </div>
            <article class="noitems tmpl" style="display:none">
                <p>No Items in this Section</p>
            </article>
        </div>
    </div>
</div>
<div class="span4">
    <div class="box mrg-btm author-list">
        {% cache cache_time author_list %}
        {% include "_widget_author_list.html" %}
        {% endcache %}
    </div>
    {% include "mapstory/_widget_social.html" %}
    <div class="box mrg-btm">
        <h2>TELL YOUR STORY</h2>
        <p>If you have a story to tell... Tell it on MapStory.</p>
        <p class="center"><a target="new" href="{% url maps_new %}" class="button orange">CREATE A MAPSTORY</a></p>
    </div>
</div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    var carouselTileURL = "{% url map_tiles %}";
</script>
<script type="text/javascript" src="{% static "script/index.js" %}"></script>
<script type="text/javascript" src="{% static "script/paginate.js" %}"></script>
<script type="text/javascript" src="{% static "script/carousel_jquery.js" %}"></script>
{% endblock %}
