{% extends "theme_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load mapstory_tags %}
{% load cache %}

{% block style_base %}
    <link href="{% static "theme/bootstrap_custom.css" %}" rel="stylesheet" />
    <!--[if lte IE 8]>
    <link href='http://fonts.googleapis.com/css?family=Marvel:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marvel:400italic, rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marvel:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marvel:700italic' rel='stylesheet' type='text/css'>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% geonode_static "externals/ext/resources/css/ext-all.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "theme/geonode.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "theme/ext-theme.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "theme/site.css" %}" media="screen" />    
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block title %}MapStory{% endblock %}

{% block extra_head_base %}
    <script type="text/javascript" src="{% geonode_static "externals/ext/adapter/ext/ext-base.js" %}"></script>
    <script type="text/javascript" src="{% geonode_static "externals/ext/ext-all.js" %}"></script>
    <!--<link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}externals/ext/resources/css/xtheme-access.css" />-->
    <script type="text/javascript" src="{% url jscat %}"></script>
    <script type="text/javascript" src="{% url lang %}"></script>
    {% block extra_head %}{% endblock %}
    {% if page.enable_analytics %}{% include 'ga.html' %}{% endif %}
{% endblock %}

{% block topbar_base %}
    <div id="header">
      <div class="wrap selfclear">
        <a id="logo" href="{% url home %}">Map Story</a>
        <div id="login-area" class="fancyfont">
            <a href="{% url donate %}" id="donate">DONATE NOW</a >

            {% if user.is_authenticated %}
                <a id="login-link" href="{% url auth_logout %}">{% trans "Log out" %}</a>
                <div class="user">{% activity_notifier user %}<a title="About You, The StoryTeller" href="{% url about_storyteller user.username %}">Welcome {{ user.username }}</a></div>
            {% else %}
                <a id="login-link" href="#login-form-pop">{% trans "Log in" %}</a>
                <div class="user">
                {% if ACCOUNT_OPEN_SIGNUP %}
                <a href="{% url account_signup %}">{% trans "Register" %}</a>
                {% else %}
                <a href="http://wiki.mapstory.org">Learn More</a>
                {% endif %}
                </div>
            {% endif %}
            <form id="quicksearch" action="{% url new_search %}" method="POST">
            {% csrf_token %}
            <label for="q">Quick Search</label>
            <input name="q" value="" autocomplete="off"/>
            </form>
        </div>
        {% include "_login_form.html" %}
      </div><!-- /.wrap -->
    </div><!-- /#header -->
    <div id="top-crossbar">
       <div class="wrap selfclear">
        <ul class="fancyfont">
            <li rel="category"><a href="/" class="tab-sections {% active_nav_tab request "sections" %}">SECTIONS</a></li>
            <li rel="search"><a href="{% url new_search %}" class="tab-search {% active_nav_tab request "search" %}">SEARCH MAPSTORY</a></li>
            <li><a href="{% url how_to %}" class="tab-how">HOW TO</a></li>
            <li><a href="{% url reflections %}" class="tab-how">REFLECTIONS</a></li>
            <li><a href="http://wiki.mapstory.org/index.php?title=Main_Page" target="_blank">ABOUT</a></li>
            <li><a href="http://blog.mapstory.org/" class="tab-blog" target="_blank">BLOG</a></li>
            {% if user.is_authenticated %}
                <li class=""><a class="" id="profileLink" href="{% url profiles_profile_detail user.username %}">{% trans "PROFILE" %}</a></li>
            {% if user.is_staff %}
                <li class=""><a class="" id="adminLink" href="/admin/">{% trans "ADMIN" %}</a></li>
            {% endif %}
            {% endif %}
        </ul>
       </div>
    </div>
    <div id="crossbar">
      <div class="wrap selfclear">
        {% block nav %}
        {% comment %}
     {% get_current_language as LANGUAGE %}
      <form class="langbar" id="target" action="/i18n/setlang/" method="post">
        {% csrf_token %}
         <div style="display: inline;">
           <select id="langval" name="language" onchange="javascript:form.submit()">
             {% for lang in LANGUAGES %}
              <option value="{{ lang.0 }}"
                  {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                  {{ lang.1 }}
              </option>
             {% endfor %}
           </select>
         </div>
       </form>
        {% endcomment %}


      <ul id="sitenav" class="selfclear">
          {% cache cache_time page_layout_sections request.path %}
          {% for sec in page.sections.value %}
              {% with sec.get_absolute_url as url %}
              <li><a rel="category" class="{% active_sub_nav request url %} hide" href="{{ url }}">{{ sec.name }}</a></li>
              {% endwith %}
          {% endfor %}
          {% url search_layers as search_layers %}
          {% url search_maps as search_maps %}
          {% url search_owners as search_owners %}
          <li><a rel="search" href="{% url search_layers %}" class="subtab-search-layers {% active_sub_nav request search_layers %}">Search StoryLayers</a></li>
          <li><a rel="search" href="{% url search_maps %}" class="subtab-search-stories {% active_sub_nav request search_maps %}">Search MapStories</a></li>
          <li><a rel="search" href="{% url search_owners %}" class="subtab-search-tellers {% active_sub_nav request search_owners %}">Search StoryTellers</a></li>
          {% endcache %}
      </ul>
        {% endblock %}

      </div><!-- /.wrap -->
    </div><!-- /#crossbar -->
    
    {# browser compat msgs #}
    {% if page.old_browser %}
    <script type="text/javascript">
        function iunderstand() {
            document.cookie = "iunderstand=true; path=/";
            document.getElementById("oldbrowser").style.display = 'none';
        }
    </script>
    <div id="oldbrowser" class="errmsg-overlay">
        <h2>It looks like your browser is getting along in age.</h2>
        <h4>Why is this important?</h4>
        <p>MapStory relies on features found in more modern browsers. You can continue, but you have been warned - the look and function (or lack thereof) of many features of MapStory may be unintended.</p>
        <button onclick="iunderstand()">I understand</button>
        <p>By pressing this, we'll do our best to accommodate you.</p>
    </div>
    {% endif %}
{% endblock %}

{% block body_base %}
    <div id="main">
      <div class="container">
        {% block messages %}
        <div id="messages">
            {% include "_messages.html" %}
        </div>
        {% endblock %}
        {% block announcements %}
            {% mapstory_announcements %}
        {% endblock %}
        {% block main %}{% endblock %}
        {% block content %}{% endblock %}
        {% block sidebar %}{% endblock %}
        {% block bottom %}
            {% block resources %}
                <div class="row">
                    <div class="span12 mrg-btm">
                        <div class="box">
                            <h2>RESOURCES FOR:</h2>
                            <div class="mini-slider fancyfont">
                                <div class="slide">
                                    {% for r in page.resources.value %}
                                        <a href="{{ r.get_absolute_url }}">{{ r.name }}</a>
                                        {% if not forloop.last %}
                                        <span>|</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% comment %}
            {% block ads %}
                <div class="row">
                    <div class="span12 ads-box">
                        <div class="ad">
                            <a href="#">
                                <img src="{% static "/theme/img/temp/ad1.png" %}" width="300" height="100" alt="Ad1" />
                            </a>
                            <p>Advertisement</p>
                        </div>
                        <div class="ad">
                            <a href="#">
                                <img src="{% static "/theme/img/temp/ad2.png" %}" width="300" height="100" alt="Ad2" />
                            </a>
                            <p>Advertisement</p>
                        </div>
                        <div class="ad last">
                            <a href="#">
                                <img src="{% static "/theme/img/temp/ad3.png" %}" width="300" height="100" alt="Ad3" />
                            </a>
                            <p>Advertisement</p>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% endcomment %}
        {% endblock %}
      </div><!-- /.container -->
    </div><!-- /#main -->
{% endblock %}

{% block footer %}
    <div>
      <div class="wrap selfclear">
        <div class="onecol">
          Powered by <a href="http://geonode.org">{% trans "GeoNode" %}</a>
          | <strong>{% trans "Need Help?" %}</strong>
          <a href="{% url help %}">{% trans "Help" %}</a>
          | <a href="http://wiki.mapstory.org/index.php?title=License_and_Copyright">License</a>
          | <a href="http://wiki.mapstory.org/index.php?title=Terms_of_Service">Terms of Service</a>
          {% comment %}
          | <a href="{% url geonode.views.developer %}">{% trans "For Developers" %}</a>
          {% endcomment %}
          <span style="float:right">MapStory&reg; is a registered trademark of the <a href='http://wiki.mapstory.org/index.php?title=The_MapStory_Foundation'>MapStory Foundation</a>, a non-profit organization.</span>
        </div>
      </div><!-- /.wrap -->
    </div><!-- /#footer -->
{% endblock %}

{% block extra_body_base %}
{% block extra_body %}{% endblock %}
{% endblock %}
