<h4>Please make a donation.</h4>
{% include 'mapstory/_paypal.html' %}
<h4 style="margin-top:10px">Where your donation goes</h4>
<p><strong>Technology</strong>: Servers, bandwidth, maintenance, development.
    MapStory is built on open source code and hosted in the cloud,
    so its growth will be affordable, but will still have costs.
</p>
<p><strong>People</strong>: MapStory is currently largely a volunteer activity, but its
    sustainment over time will require full time attention from skilled
    staff. Your resources will help us develop the appropriate staff
    capacity.
</p>
<p>
    <a href="http://wiki.mapstory.org/index.php?title=Donation">Other ways to give</a>
</p>