{% load mapstory_tags %}
{% load agon_ratings_tags %}
<div class="tile">
    <a href="{{ map.get_absolute_url }}">
        <img height="128" src="{{ map.get_thumbnail_url }}">
    </a>
    <div class="info">
        <div class="title">{{ map.title }}</div>
        <div class="">
            <span><a rel="author" href="{% url about_storyteller map.owner %}">{{ map|user_name }}</a></span>
            <time pubdate datetime="{{ when|date:"Y-m-d" }}">on {{ when|date:"N j Y" }}</time>
        </div>
    </div>
    <footer>
        {% overall_rating map "map" as map_rating %}
        {% map_view_hitcount map %}&nbsp;|&nbsp;<span class="rating">{{ map_rating }} stars</span>
    </footer>
</div>