<div class="video-actions">
    <div class="actions-links fancyfont">
        <a href="#" class="icn info">Info</a>
        <a href="#" class="icn favorites">Add to Favorites</a>
        <a href="#" class="icn share">Share</a>
        <a href="#" class="icn flag">Flag</a>
        <a href="#" class="icn add">Add</a>
        <a href="#" class="icn download last">Download</a>
    </div>
    <div class="metrics">
        <span class="views"><i>1,205</i> Views</span>
        <span class="rating">3 stars</span>
    </div>
</div>