{% if not favorites and not in_progress %}
You have not selected any favorites.
{% endif %}

{% if favorites %}
<ul>
{% for f in favorites %}
    <li>
        <a class="rm-favorite btn btn-mini" href="{% url delete_favorite f.pk %}"><i class="icon-remove"></i></a>
        <a href="{{ f.content_object.get_absolute_url }}">{{ f.content_object.title }}</a>
    </li>
{% endfor %}
</ul>
{% endif %}

{% if in_progress %}
<h4>MapStories In Progress</h4>
<ul>
{% for f in in_progress %}
    <li>
        <a href="{{ f.get_absolute_url }}">{{ f.title }}</a>
    </li>
{% endfor %}
</ul>
{% endif %}