<div class="btn-group" id="widget_section_chooser">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Section
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% with map.section_set.all.0 as current %}
            {% for sec in page.sections %}
            <li><a href="#{{sec.id}}" {% if current == sec %}class="orangebg"{% endif %}>{{sec.name}}</a></li>
            {% endfor %}
        {% endwith %}
    </ul>
    <script type="text/javascript">
        $("#widget_section_chooser .dropdown-menu a").click(function() {
            var link = $(this);
            $.post("{% url mapstory.views.set_section %}", {
                map: {{ map.id }},
                section: link.attr('href').substring(1)
            }, function() {
                link.closest('.dropdown-menu').find('a').removeClass('orangebg');
                link.addClass('orangebg');
            });
        });
    </script>
</div>