{% extends "page_layout.html" %}
{% load i18n %}
{% load avatar_tags %}

{% block head_title %}{{storyteller.username}}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="span8">
            <h2>STORYTELLER PAGE</h2>
        </div>
        <div class="span8">
            <div class="box mrg-btm">
                <div class="cols">
                    <div class="col-side storyteller-info">
                        {% avatar storyteller %}
                        <section>
                            <ul>
                                {% if storyteller.contact.email %}
                                <li><a href="mailto:{{user.contact.email}}">{{ storyteller.contact.email }}</a></li>
                                {% endif %}
                                {% if storyteller.contact.voice %}
                                <li>{{ storyteller.contact.voice }}</li>
                                {% endif %}
                                {% if storyteller.contact.city %}
                                <li>{{ storyteller.contact.city }}</li>
                                {% endif %}
                                {% if storyteller.contact.area %}
                                <li>{{ storyteller.contact.area }}</li>
                                {% endif %}
                            </ul>
                        </section>
                    </div>
                    <div class="col-main storyteller-details">
                        <p>Biography goes here.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
        </div>
    </div>
{% endblock %}

{% block extra_body %}

{% endblock %}