{% extends "page_layout.html" %}
{% load i18n %}
{% load avatar_tags %}
{% load mapstory_tags %}
{% load staticfiles %}

{% block title %}{{storyteller.username}}{% endblock %}

{% block extra_head %}
<style>
    #user-activity-feed time {
        float:right;
        width: 8em;
        text-align: center;
        padding: 0 .5em;
        background: #F47A20;
        color: white;
    }
    #user-activity-feed .item {
        border-top: 1px solid #F47A20;
    }
    #user-activity-feed .item p {
        margin-right: 8em;
        padding-right: 1em;
    }
</style>
{% endblock %}

{% block main %}
<div class="row mrg-top">
    {% if storyteller == request.user %}
    <div class="span12">
    {% profile_incomplete request.user %}
    </div>
    {% endif %}
    <div class="span8">
        <h2>STORYTELLER PAGE</h2>
    </div>
    <div class="span4 top-detail-actions">
        {% if storyteller == request.user %}
        <a href="{% url profiles_profile_detail storyteller %}">Edit Your Profile</a>
        {% endif %}
    </div>
</div>
    <div class="row">
        {% with storyteller.get_profile as p %}
        <div class="span8">
            <div class="box mrg-btm">
                <div class="cols">
                    <div class="col-side storyteller-info">
                        {% avatar storyteller %}
                        <section>
                            <ul>
                                {% if p.blurb %}
                                <li>{{ p.blurb }}</li>
                                {% endif %}
                                {% if p.voice %}
                                <li>{{ p.voice }}</li>
                                {% endif %}
                                {% if p.city %}
                                <li>{{ p.city }}</li>
                                {% endif %}
                                {% if p.country %}
                                <li>{{ p.country }}</li>
                                {% endif %}
                            </ul>
                        </section>
                        {% if p.education %}
                        <section>
                            <h6>Education</h6>
                            <p>{{ p.education|linebreaks }}</p>
                        </section>
                        {% endif %}
                        {% if p.expertise %}
                        <section>
                            <h6>Expertise</h6>
                            <p>{{ p.expertise|linebreaks }}</p>
                        </section>
                        {% endif %}
                    </div>
                    <div class="col-main storyteller-details">
                        <h2>{% firstof storyteller.get_full_name storyteller.username %}
                        {% if p.organization %},<br/> {{ p.organization }} {% endif %}
                        </h2>
                        <section>
                            <h3>Biography:</h3>
                            <p>{{ p.biography|linebreaks }}</p>
                        </section>
                        {% include "mapstory/_activity_feed.html" %}
                    </div>
                </div>
            </div>
            {% endwith %}
        </div>
        <div class="span4">
            {% by_storyteller storyteller %}
        </div>
    </div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{% static "script/paginate.js" %}"></script>
{% endblock %}