{% extends "page_layout.html" %}
{% load i18n %}
{% load avatar_tags %}
{% load mapstory_tags %}

{% block head_title %}{{storyteller.username}}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="span8">
            <h2>STORYTELLER PAGE</h2>
        </div>
        <div class="span8">
            <div class="box mrg-btm">
                <div class="cols">
                    <div class="col-side storyteller-info">
                        {% avatar storyteller %}
                        {% with storyteller.get_profile as p %}
                        <section>
                            <ul>
                                {% if p.email %}
                                <li><a href="mailto:{{user.contact.email}}">{{ p.email }}</a></li>
                                {% endif %}
                                {% if p.voice %}
                                <li>{{ p.voice }}</li>
                                {% endif %}
                                {% if p.city %}
                                <li>{{ p.city }}</li>
                                {% endif %}
                                {% if p.area %}
                                <li>{{ p.area }}</li>
                                {% endif %}
                            </ul>
                        </section>
                        {% if p.education %}
                        <section>
                            <h6>Education</h6>
                            <p>{{ p.education|linebreaks }}</p>
                        </section>
                        {% endif %}
                        {% if p.expertise %}
                        <section>
                            <h6>Expertise</h6>
                            <p>{{ p.expertise }}</p>
                        </section>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-main storyteller-details">
                        <h4>{% firstof storyteller.get_full_name storyteller.username %}</h4>
                        <section>
                            <h3>Biography:</h3>
                            <p>{{ storyteller.get_profile.biography }}</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            {% by_storyteller storyteller %}
        </div>
    </div>
{% endblock %}

{% block extra_body %}

{% endblock %}