{% extends "no_bottom_layout.html" %}
{% load staticfiles %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "theme/manual.css" %}"/>
{% endblock %}

{% block content %}
<div id="manual" class="row">
    <div class="span4">
        <div id="contents-holder" class="box">
            
        </div>
    </div>
    <div class="offset4 span8">
        <div class="box contents">
            <h1>MapStory Manual</h1>
            {{ content }}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
$(function() {
    var x = $('#contents').remove();
    x.appendTo($("#contents-holder"));
    
    $("#manual .contents a.reference.external").attr('target','_');
        
    $(".section").hover(function() {
        var ref = $(this).find('.toc-backref').attr('href');
        $('#contents-holder .hover').removeClass('hover');
        if (ref) {
            $(ref).addClass('hover');
        }
    });
})
</script>
{% endblock %}