{% extends "no_bottom_layout.html" %}

{% block extra_head %}
<style type="text/css">
    h1 {
        font-size: x-large;
    }
    h2 {
        font-size: large;
    }
    h3 {
        font-size: medium;
    }
    #contents {
        font-size: large;
        position: fixed;
        left: 350px;
        top: 123px;
    }
    .simple ul {
        margin-left: 1em;
        font-size: smaller;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset4 span8">
        <div class="box">
            <h1>MapStory Manual</h1>
            {{ content }}
        </div>
    </div>
</div>
{% endblock %}