{% extends "page_layout.html" %}
{% load i18n %}
{% load mapstory_tags %}
{% load staticfiles %}

{% block title %}{{section.name}}{% endblock %}

{% block extra_head %}
<style type="text/css">
    .paginate-contents {
        height: 400px;
        overflow: auto;
    }
</style>
{% endblock %}

{% block main %}
<div class="row mrg-btm">
    <div class="span7">
        <h2 class="mrg-top">{{section.name}}</h2>
        <div class="box">{{section.text|escape|urlize|linebreaks|safe}}</div>
    </div>
    <div class="span5 clearfix paginate mrg-top paginate-auto" data-page-select="article">
        <h3>MapStories</h3>
        <div class="box">
            <section class="paginate-contents">
                {% if pager %}
                {% for map in pager %}
                    {% with map.last_modified as when %}
                        {% include "mapstory/_story_tile_left.html" %}
                    {% endwith %}
                {% endfor %}
                {% else %}
                <p>{% trans "Nothing in this section yet." %}</p>
                {% endif %}
            </section>
            {% pagination pager 'section_tiles' section.slug %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{% static "script/waypoints.min.js" %}"></script>
<script type="text/javascript" src="{% static "script/paginate.js" %}"></script>
{% endblock %}