{% extends "page_layout.html" %}
{% load i18n %}

{% block main %}
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a> <span class="divider">&gt;</span>
                </li>
                <li>
                <a href="#">Search MapStories</a> <span class="divider">&gt;</span>
                </li>
                <li class="active">
                    <a href="#">StoryTeller Page</a>
                </li>
            </ul>
        </div>
        <div class="span8">
            <h2>STORYTELLER PAGE</h2>
        </div>
        <div class="span4">
            <a href="#" class="back">Back to Storytellers Search</a>
        </div>
        <div class="span8">
            <div class="box mrg-btm">
                <div class="cols">
                    <div class="col-side storyteller-info">
                        <img src="http://www.gravatar.com/avatar/b59a1fea77f9350c8225395f55204abe?r=pg&s=130" class="thumb" />
                        <section>
                            <ul>
                                <li><a href="#">susansmith@ucsd.edu</a></li>
                                <li>515 222-3434</li>
                            </ul>
                        </section>
                        <section>
                            <h6>Education</h6>
                            <ul>
                                <li>PhD, University of Pennsylvania, 1998</li>
                                <li>MA, University of Washington, 1994</li>
                            </ul>
                        </section>
                        <section>
                            <h6>Expertise</h6>
                            <ul>
                                <li>Sed ut perspiciatis unde omnis iste natus </li>
                                <li>Lorem error sit voluptem</li>
                            </ul>
                        </section>
                        <section>
                            <h6>Activity History</h6>
                            <ul>
                                <li>Latest Activity:<br />
                                July 2, 2011</li>

                                <li>Date Joined:<br />
                                January 23, 2011</li>
                            </ul>
                        </section>
                        <div class="links">
                            <ul>
                                <li><a href="#">Curriculum Vitae</a></li>
                                <li><a href="#">Faculty Page</a></li>
                                <li><a href="#">View my Blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-main storyteller-details">
                        <header>
                            <h1 class="orange">Prof. Susan Smith,<br /> UC San Diego</h1>
                            <div class="action-btns">
                                <a href="#" class="btn btn-custom">Add to Favorites</a>
                                <a href="#" class="btn btn-custom">Send a Message</a>
                            </div>
                            <div class="connect">
                                <small>Connect with Susan Smith</small>
                                <a href="#" class="fb">Facebook</a>
                                <a href="#" class="tw">Twitter</a>
                                <a href="#" class="in">LinkedIn</a>
                            </div>
                        </header>
                        <section class="bio">
                            <h4>Biography</h4>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inven 
                            tore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo 
                            enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed 
                            quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consect 
                            etur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut l
                            abore et dolore magnam aliquam quaerat voluptatem.</p>
                        </section>
                        <section class="footprint video-mini">
                            <h4>MapStory Footprint</h4>
                            <div class="player">
                                <img src="{{ STATIC_URL }}theme/img/temp/player.png" width="100%" alt="Player" />
                            </div>
                            <div class="video-actions">
                                <div class="actions-links fancyfont">
                                    <a href="#" class="icn info">Info</a>
                                    <a href="#" class="icn layers">Layers</a>
                                    <a href="#" class="icn favorites">Add to Favorites</a>
                                    <a href="#" class="icn share">Share</a>
                                    <a href="#" class="icn flag">Flag</a>
                                    <a href="#" class="icn add">Add</a>
                                </div>
                                <div class="metrics">
                                    <span class="views"><i>1,205</i> Views</span>
                                    <span class="rating">3 stars</span>
                                </div>
                            </div>
                        </section>
                        <section>
                            <h4>View MapStories:</h4>
                            <div class="tabbable">
                                <ul class="nav nav-tabs fancyfont">
                                  <li class="active"><a href="#1" data-toggle="tab">Rated by Susan Smith</a></li>
                                  <li><a href="#2" data-toggle="tab">Mentioning Susan Smith</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="1">
                                        tab 1
                                    </div>
                                    <div class="tab-pane" id="2">
                                        tab 2
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            {% include "mapstory/_widget_by_storyteller.html" %}

            <section class="box mrg-btm">
                <h2>RECENT ACTIVITIES</h2>
                <div class="activity-stream">
                    <article>
                        <img src="http://www.gravatar.com/avatar/b59a1fea77f9350c8225395f55204abe?r=pg&s=40" class="left" />
                        <div class="details">
                            <time>2 days ago</time>
                            <div>Lorem ipsum des unde <a href="#">error sitopat accustanitum</a></div>
                        </div>
                    </article>
                    <article>
                        <img src="http://www.gravatar.com/avatar/b59a1fea77f9350c8225395f55204abe?r=pg&s=40" class="left" />
                        <div class="details">
                            <time>2 days ago</time>
                            <div>Lorem ipsum des unde <a href="#">error sitopat accustanitum</a></div>
                        </div>
                    </article>
                    <article>
                        <img src="http://www.gravatar.com/avatar/b59a1fea77f9350c8225395f55204abe?r=pg&s=40" class="left" />
                        <div class="details">
                            <time>2 days ago</time>
                            <div>Lorem ipsum des unde <a href="#">error sitopat accustanitum</a></div>
                        </div>
                    </article>
                </div>
            </section>

        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(function() {
            $("article.abstract a.read-more").click(function(event) {
                event.preventDefault();
            });
        });
    </script>
{% endblock %}