{% extends "page_layout.html" %}
{% load i18n %}

{% block main %}
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a> <span class="divider">&gt;</span>
                </li>
                <li>
                <a href="#">Search MapStories</a> <span class="divider">&gt;</span>
                </li>
                <li class="active">
                    <a href="#">Map Page</a>
                </li>
            </ul>
        </div>
        <div class="span8">
            <h2>ELLICOTT PLAN FOR WASHINGTON DC</h2>
        </div>
        <div class="span4">
            <a href="#" class="back">Back to MapStory Search</a>
        </div>
        <div class="span8">
            <div class="box">
                <div class="story-detail">
                    <div class="player">
                        <img src="{{ STATIC_URL }}theme/img/temp/player.png" width="656" height="392" alt="Player" />
                    </div>
                    <div class="video-actions">
                        <div class="actions-links fancyfont">
                            <a href="#" class="icn info">Info</a>
                            <a href="#" class="icn layers">Layers</a>
                            <a href="#" class="icn favorites">Add to Favorites</a>
                            <a href="#" class="icn share">Share</a>
                            <a href="#" class="icn flag">Flag</a>
                            <a href="#" class="icn add">Add</a>
                        </div>
                        <div class="metrics">
                            <span class="views"><i>1,205</i> Views</span>
                            <span class="rating">3 stars</span>
                        </div>
                    </div>
                    <article class="abstract">
                        Abstract: This map shows a scanned map from DCGIS, that displays an old plan for the District of Columbia.
                        It is overlaid on a Google Satellite image, and made a bit transparent. Apologies for slow loading, as the image is 50 megs, and we have not integrated caching yet. <a href="#" class="read-more" data-toggle="collapse" data-target="#abstract-full">Read more</a>
                        <div id="abstract-full" class="collapse">More content goes here and is displayed when read more is clicked.</div>
                    </article>
                    <cite>Uploaded by John Smith on Sep 27, 2011</cite>
                </div>
                <div class="comments">
                    <header>
                        <h4>Comments: (143 total)</h4>
                        <div class="pages">
                            <span>results 1-5 of 5</span>
                            <ul class="pager">
                              <li>
                                <a href="#" class="prev">Previous</a>
                              </li>
                              <li>page 1 of 1</li>
                              <li>
                                <a href="#" class="next">Next</a>
                              </li>
                            </ul>
                        </div>
                    </header>
                    <article>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                        <footer><a href="#" rel="author">John Smith</a> on <time>Sep 27, 2011</time></footer>
                    </article>
                    <article>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                        <footer><a href="#" rel="author">John Smith</a> on <time>Sep 27, 2011</time></footer>
                    </article>
                    <article>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                        <footer><a href="#" rel="author">John Smith</a> on <time>Sep 27, 2011</time></footer>
                    </article>
                    <div class="pages">
                        <span>results 1-5 of 5</span>
                        <ul class="pager">
                          <li>
                            <a href="#" class="prev">Previous</a>
                          </li>
                          <li>page 1 of 1</li>
                          <li>
                            <a href="#" class="next">Next</a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            <section class="box mrg-btm about-storyteller pd-btm">
                <h2>ABOUT THE STORYTELLER</h2>
                <img src="http://www.gravatar.com/avatar/b59a1fea77f9350c8225395f55204abe?r=pg&s=70" class="left" />
                <h3>Prof. Susan Smith, UC San Diego</h3>
                <p class="clear">Lorem ipsum dolor sit amet, consectetur
                adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magnn.</p>
                <a href="#" class="read-more">Read more about this Storyteller</a>
            </section>

            <section class="box mrg-btm">
                <h2>BY THIS STORYTELLER</h2>
                <div class="tabbable">
                    <ul class="nav nav-tabs fancyfont">
                      <li class="active"><a href="#1" data-toggle="tab">MAPSTORIES</a></li>
                      <li><a href="#2" data-toggle="tab">STORYLAYERS</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="1">
                            {% include "mapstory/_mapstory_list_side.html" %}
                        </div>
                        <div class="tab-pane" id="2">
                            tab 2
                            {% include "mapstory/_mapstory_list_side.html" %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="box mrg-btm">
                <h2>RELATED MAPSTORIES</h2>
                {% include "mapstory/_mapstory_list_side.html" %}
            </section>

            {% include "mapstory/_social_box.html" %}


        </div>
    </div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(function() {
            $("article.abstract a.read-more").click(function(event) {
                event.preventDefault();
            });
        });
    </script>
{% endblock %}