{% extends "mapstory/story_detail_base.html" %}
{% load i18n %}

{% block content %}
    <article class="abstract">
        Abstract: This map shows a scanned map from DCGIS, that displays an old plan for the District of Columbia.
        It is overlaid on a Google Satellite image, and made a bit transparent. Apologies for slow loading, as the image is 50 megs, and we have not integrated caching yet. <a href="#" class="read-more" data-toggle="collapse" data-target="#abstract-full">Read more</a>
        <div id="abstract-full" class="collapse">More content goes here and is displayed when read more is clicked.</div>
    </article>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(function() {
            $("article.abstract a.read-more").click(function(event) {
                event.preventDefault();
            });
        });
    </script>
{% endblock %}