{% extends "page_layout.html" %}
{% load i18n %}

{% block main %}
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="#">Home</a> <span class="divider">&gt;</span>
                </li>
                <li>
                <a href="#">Search MapStories</a> <span class="divider">&gt;</span>
                </li>
                <li class="active">
                    <a href="#">Map Page</a>
                </li>
            </ul>
        </div>
        <div class="span8">
            <h2>ELLICOTT PLAN FOR WASHINGTON DC</h2>
        </div>
        <div class="span4">
            <a href="#" class="back">Back to MapStory Search</a>
        </div>
        <div class="span8">
            <div class="box mrg-btm">
                <div class="story-detail">
                    <div class="player">
                        <img src="{{ STATIC_URL }}theme/img/temp/player.png" width="656" height="392" alt="Player" />
                    </div>

                    {% include "mapstory/_video_actions.html" %}

                    {% block main_content %}{% endblock %}
                    <cite>Uploaded by John Smith on Sep 27, 2011</cite>
                </div>
                <div class="comments">
                    <header>
                        <h4>Comments: (143 total)</h4>
                        <div class="pages">
                            <span>results 1-5 of 5</span>
                            <ul class="pager">
                              <li>
                                <a href="#" class="prev">Previous</a>
                              </li>
                              <li>page 1 of 1</li>
                              <li>
                                <a href="#" class="next">Next</a>
                              </li>
                            </ul>
                        </div>
                    </header>
                    <article>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                        <footer><a href="#" rel="author">John Smith</a> on <time>Sep 27, 2011</time></footer>
                    </article>
                    <article>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                        <footer><a href="#" rel="author">John Smith</a> on <time>Sep 27, 2011</time></footer>
                    </article>
                    <article>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                        <footer><a href="#" rel="author">John Smith</a> on <time>Sep 27, 2011</time></footer>
                    </article>
                    <div class="pages">
                        <span>results 1-5 of 5</span>
                        <ul class="pager">
                          <li>
                            <a href="#" class="prev">Previous</a>
                          </li>
                          <li>page 1 of 1</li>
                          <li>
                            <a href="#" class="next">Next</a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            {% include "mapstory/_widget_about_storyteller.html" %}

            {% include "mapstory/_widget_by_storyteller.html" %}

            <section class="box mrg-btm">
                <h2>RELATED MAPSTORIES</h2>
                {% include "mapstory/_mapstory_list_side.html" %}
            </section>

            {% include "mapstory/_widget_social.html" %}

        </div>
    </div>
{% endblock %}